# Information about maize inbred genotypes

I found two important references:

* [Romay et al. 2013](https://link.springer.com/article/10.1186/gb-2013-14-6-r55)
* [The original Goodman study](https://onlinelibrary.wiley.com/doi/full/10.1111/j.1365-313X.2005.02591.x)

Importing the Romay supplementary table:

In [7]:
import pandas as pd

genotype_info_romay_df = pd.read_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/genoytype_information/gb-2013-14-6-r55-S1.csv", sep='\t')

genotype_info_romay_df.set_index('Inbred line', inplace=True)
genotype_info_romay_df.head()

,Accesion N,N GBS samples,N Plants,Avg. IBS,% missing,Breeding program,Pop structure
Inbred line,,,,,,,
42,PI233312,1,1,NaN,0.47,Other,sweet corn
66,Ames26770,1,1,NaN,0.56,Other,unclassified
90,NSL30903,1,1,NaN,0.52,Other,unclassified
176,PI233313,1,1,NaN,0.67,Other,sweet corn
207,PI601005,2,2,0.996,0.50,ExPVP,non-stiff stalk