# Description

# Pre-processing steps

## Importing tables

Importing OTU table with day and night runs:

In [1]:
import pandas as pd

summed_otu_counts = pd.read_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/16S_wallace2018/combine_day_night_samples/summed_day_night_otu_counts.tsv",
                                sep="\t")
summed_otu_counts.set_index("OTU ID", inplace=True)
summed_otu_counts.head()

,14A0247_8,14A0051_8,14A0381_26,14A0533_26,14A0281_8,14A0295_8,14A0169_26,14A0069_8,14A0497_26,14A0023_8,...,14A0345_8,14A0267_8,14A0009_8,14A0007_8,14A0093_26,14A0137_26,14A0265_8,14A0155_26,14A0167_26,14A0481_26
OTU ID,,,,,,,,,,,,,,,,,,,,,
4479944,1.0,2.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995900,0.0,0.0,0.0,0.0,5.0,8.0,6.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1124709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533625,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,40.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,2.0

Getting run names for day and night samples:

In [2]:
run_info_day = pd.read_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/sample_run_information/exp_runs_day_annotation.txt",
                            sep="\t")
run_info_day.set_index("RunID", inplace=True)
run_info_night = pd.read_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/sample_run_information/exp_runs_night_annotation.txt",
                            sep="\t")
run_info_night.set_index("RunID", inplace=True)
day_runs = run_info_day['SampleID'].str.replace('_d','').to_list()
night_runs = run_info_night['SampleID'].str.replace('_n','').to_list()

In [3]:
# Filter columns of dataframe based on list
summed_otu_counts_day = summed_otu_counts[day_runs]
summed_otu_counts_night = summed_otu_counts[night_runs]
summed_otu_counts_day.columns = summed_otu_counts_day.columns.str.replace('^','microbiome_day_', regex=True)
summed_otu_counts_night.columns = summed_otu_counts_night.columns.str.replace('^','microbiome_night_', regex=True)

Exporting the matrix with microbiome runs with identifiers used in CoNekT Grasses:

In [4]:
summed_otu_counts_separate_day_night = pd.concat([summed_otu_counts_day, summed_otu_counts_night], axis=1)
summed_otu_counts_separate_day_night.to_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/16S_wallace2018/combine_day_night_samples/summed_day_night_otu_counts_conekt.tsv",
                                            sep="\t")

Importing expression count tables for day and night samples:

In [5]:
expression_counts_day = pd.read_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/correlations_rnaseq_metataxonomics/kremling_expression_v5_day.tsv",
                                    sep="\t")
expression_counts_day.set_index("Name", inplace=True)
expression_counts_day.columns = expression_counts_day.columns.str.replace('^','exp_day_', regex=True)
expression_counts_night = pd.read_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/correlations_rnaseq_metataxonomics/kremling_expression_v5_night.tsv",
                                    sep="\t")
expression_counts_night.set_index("Name", inplace=True)
expression_counts_night.columns = expression_counts_night.columns.str.replace('^','exp_night_', regex=True)

In [6]:
expression_counts_day_night = pd.concat([expression_counts_day,
                                         expression_counts_night], axis=1)
expression_counts_day_night.head()

,exp_day_14A0253_26,exp_day_14A0171_26,exp_day_14A0045_8,exp_day_14A0085_8,exp_day_14A0079_26,exp_day_14A0467_26,exp_day_14A0039_8,exp_day_14A0403_26,exp_day_14A0063_8,exp_day_14A0513_26,...,exp_night_14A0519_26,exp_night_14A0005_8,exp_night_14A0027_8,exp_night_14A0533_26,exp_night_14A0333_26,exp_night_14A0473_26,exp_night_14A0047_8,exp_night_14A0453_26,exp_night_14A0345_8,exp_night_14A0343_8
Name,,,,,,,,,,,,,,,,,,,,,
Zm00001eb371370_T002,2,3,7,7,1,8,7,24,20,4,...,1,0,0,3,1,1,0,0,0,0
Zm00001eb371350_T001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zm00001eb371330_T001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zm00001eb371310_T001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zm00001eb371280_T001,3,0,6,22,3,9,10,5,8,4,...,3,0,6,0,4,1,4,0,9,4

## Normalizing data - transcript expression

Importing transcript lenghts required in RPKM and TPM normalization methods:

In [7]:
gene_length_table = pd.read_csv('/home/rsantos/Repositories/maize_microbiome_transcriptomics/correlations_rnaseq_metataxonomics/Zmays_Zm_B73_REFERENCE_NAM_5_0_55_transcripts_PrimaryTranscriptOnly_length.txt',
                               sep="\t")
gene_length_table.set_index('Name', inplace=True)

### CPM

In [8]:
from bioinfokit.analys import norm

# CPM (or RPM, reads per million) normalization
# Following Renesh Bedre's blog:
# https://www.reneshbedre.com/blog/expression_units.html#rpm-or-cpm-reads-per-million-mapped-reads-or-counts-per-million-mapped-reads-
nm = norm()
nm.cpm(df=expression_counts_day_night)
kremling_expression_v5_cpm = nm.cpm_norm

### RPKM

In [9]:
kremling_raw_expression_v5_gene_length = pd.merge(expression_counts_day_night, gene_length_table, on="Name")
nm = norm()
nm.rpkm(df=kremling_raw_expression_v5_gene_length, gl='Length')
kremling_expression_v5_rpkm = nm.rpkm_norm

### TPM

In [10]:
nm = norm()
nm.tpm(df=kremling_raw_expression_v5_gene_length, gl='Length')
kremling_expression_v5_tpm = nm.tpm_norm

## Normalizing data - OTU abundance

### CPM

In [11]:
nm = norm()
nm.cpm(df=summed_otu_counts_separate_day_night)
summed_otu_separate_day_night_cpm = nm.cpm_norm

### Relative abundance

In [12]:
summed_otu_separate_day_night_rel_abund = summed_otu_counts_separate_day_night.divide(summed_otu_counts_separate_day_night.sum())
summed_otu_separate_day_night_rel_abund = summed_otu_separate_day_night_rel_abund * 100

## Filtering expression and OTU data (low abundance and coefficient of variation)

### Transcript expression

Filter genes based on RPKM values:

In [13]:
genes_tokeep = kremling_expression_v5_rpkm[(kremling_expression_v5_rpkm > 3).sum(axis=1) >= (kremling_expression_v5_rpkm.shape[1] * 0.8)].index

Filtering all matrices based on RPKM threshold above:

In [14]:
expression_counts_day_night_filtered = expression_counts_day_night[expression_counts_day_night.index.isin(genes_tokeep)]
kremling_expression_v5_cpm_filtered = kremling_expression_v5_cpm[kremling_expression_v5_cpm.index.isin(genes_tokeep)]
kremling_expression_v5_rpkm_filtered = kremling_expression_v5_rpkm[kremling_expression_v5_rpkm.index.isin(genes_tokeep)]
kremling_expression_v5_tpm_filtered = kremling_expression_v5_tpm[kremling_expression_v5_tpm.index.isin(genes_tokeep)]

Filtering based on coefficient of variation:

In [15]:
import numpy as np

# Calculate the coefficient of variation for each row
expression_counts_day_night_filtered_cv = expression_counts_day_night_filtered.apply(lambda row: np.std(row) / np.mean(row), axis=1)
expression_counts_day_night_filtered_cv_filtered = expression_counts_day_night_filtered.loc[expression_counts_day_night_filtered_cv[expression_counts_day_night_filtered_cv > expression_counts_day_night_filtered_cv.quantile(q=0.25)].index]
kremling_expression_v5_cpm_filtered_cv = kremling_expression_v5_cpm_filtered.apply(lambda row: np.std(row) / np.mean(row), axis=1)
kremling_expression_v5_cpm_filtered_cv_filtered = kremling_expression_v5_cpm_filtered.loc[kremling_expression_v5_cpm_filtered_cv[kremling_expression_v5_cpm_filtered_cv > kremling_expression_v5_cpm_filtered_cv.quantile(q=0.25)].index]
kremling_expression_v5_tpm_filtered_cv = kremling_expression_v5_tpm_filtered.apply(lambda row: np.std(row) / np.mean(row), axis=1)
kremling_expression_v5_tpm_filtered_cv_filtered = kremling_expression_v5_tpm_filtered.loc[kremling_expression_v5_tpm_filtered_cv[kremling_expression_v5_tpm_filtered_cv > kremling_expression_v5_tpm_filtered_cv.quantile(q=0.25)].index]
kremling_expression_v5_rpkm_filtered_cv = kremling_expression_v5_rpkm_filtered.apply(lambda row: np.std(row) / np.mean(row), axis=1)
kremling_expression_v5_rpkm_filtered_cv_filtered = kremling_expression_v5_rpkm_filtered.loc[kremling_expression_v5_rpkm_filtered_cv[kremling_expression_v5_rpkm_filtered_cv > kremling_expression_v5_rpkm_filtered_cv.quantile(q=0.25)].index]

### OTU abundance

In [16]:
otus_tokeep = summed_otu_separate_day_night_rel_abund[(summed_otu_separate_day_night_rel_abund > 0.001).sum(axis=1) >= (summed_otu_separate_day_night_rel_abund.shape[1] * 0.5)].index

In [17]:
summed_otu_separate_day_night_cpm_filtered = summed_otu_separate_day_night_cpm[summed_otu_separate_day_night_cpm.index.isin(otus_tokeep)]
summed_otu_counts_separate_day_night_filtered = summed_otu_counts_separate_day_night[summed_otu_counts_separate_day_night.index.isin(otus_tokeep)]

In [18]:
summed_otu_separate_day_night_cpm_filtered_cv = summed_otu_separate_day_night_cpm_filtered.apply(lambda row: np.std(row) / np.mean(row), axis=1)
summed_otu_separate_day_night_cpm_filtered_cv_filtered = summed_otu_separate_day_night_cpm_filtered.loc[summed_otu_separate_day_night_cpm_filtered_cv[summed_otu_separate_day_night_cpm_filtered_cv > summed_otu_separate_day_night_cpm_filtered_cv.quantile(q=0.25)].index]
summed_otu_counts_separate_day_night_filtered_cv = summed_otu_counts_separate_day_night_filtered.apply(lambda row: np.std(row) / np.mean(row), axis=1)
summed_otu_counts_separate_day_night_filtered_cv_filtered = summed_otu_counts_separate_day_night_filtered.loc[summed_otu_counts_separate_day_night_filtered_cv[summed_otu_counts_separate_day_night_filtered_cv > summed_otu_counts_separate_day_night_filtered_cv.quantile(q=0.25)].index]

In [19]:
print(summed_otu_separate_day_night_cpm_filtered_cv_filtered.shape)
print(summed_otu_counts_separate_day_night_filtered_cv_filtered.shape)

(594, 404)
(594, 404)

# Exporting data for the Plant Center Retreat Poster

In [20]:
expression_counts_day_night_filtered_cv_filtered.to_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/poster_presentation_notebooks/plant_center_retreat_2024/expression_counts_day_night_filtered_cv_filtered.tsv",
                                                        sep="\t")
summed_otu_counts_separate_day_night_filtered_cv_filtered.to_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/poster_presentation_notebooks/plant_center_retreat_2024/summed_otu_counts_separate_day_night_filtered_cv_filtered.tsv",
                                                                 sep="\t")