# Description

## Experimental groups

* Whole study (all samples considered)
* Day period: Day and night (correlations are calculated for each period)
* Maize subpopulation (correlations are computed for each subpopulation)

In [23]:
import pandas as pd


group_assignments_wallace2018 = pd.read_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/poster_presentation_notebooks/plant_center_retreat_2024/flint_garcia_group_assignments_wallace2018.tsv",
                                            sep="\t")
group_assignments_wallace2018.set_index("Plot_Day", inplace=True)
#Replacing X added in R (R does not allow column names to start with numbers)
group_assignments_wallace2018 = group_assignments_wallace2018.rename(index=lambda x: x.replace('X', ''))
group_assignments_wallace2018.head()

,Genotype,State/Country,Pedigree,NSS,SS,TS,Pop A,Sweet A,Subpopulation
Plot_Day,,,,,,,,,
14A0309_26,33-16,Indiana,Lux Johnson Country white,0.972,0.014,0.014,0.0,0.0,nss
14A0233_8,38-11,Indiana,Outcross in line from 176A,0.993,0.003,0.004,0.0,0.0,nss
14A0079_26,4226,Illinois,Funk 90 Day,0.917,0.071,0.012,0.0,0.0,nss
14A0311_8,4722,Indiana,SA x Ohio yel.,0.000,0.000,0.000,1.0,0.0,popcorn
14A0021_8,A188,Minnesota,[(4-29*64)4-29(4)],0.982,0.013,0.006,0.0,0.0,nss

# Pre-processing steps

## Importing tables

### Generating/importing OTU counts with day and night samples

Warning!!!!

The steps to generate the OTU table were carried out previously, but they will no longer work, because the input tables were deleted from repo. Consider using only the exported table by importing it instead.

In this work, we merged run counts of day and night samples for the microbiome.

In [ ]:
"""
import pandas as pd

summed_otu_counts = pd.read_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/16S_wallace2018/combine_day_night_samples/summed_day_night_otu_counts.tsv",
                                sep="\t")
summed_otu_counts.set_index("OTU ID", inplace=True)
summed_otu_counts.head()
"""

Getting run names for day and night samples:

In [ ]:
"""
run_info_day = pd.read_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/sample_run_information/exp_runs_day_annotation.txt",
                            sep="\t")
run_info_day.set_index("RunID", inplace=True)
run_info_night = pd.read_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/sample_run_information/exp_runs_night_annotation.txt",
                            sep="\t")
run_info_night.set_index("RunID", inplace=True)
day_runs = run_info_day['SampleID'].str.replace('_d','').to_list()
night_runs = run_info_night['SampleID'].str.replace('_n','').to_list()
"""

In [3]:
"""
# Filter columns of dataframe based on list
summed_otu_counts_day = summed_otu_counts[day_runs]
summed_otu_counts_night = summed_otu_counts[night_runs]
summed_otu_counts_day.columns = summed_otu_counts_day.columns.str.replace('^','microbiome_day_', regex=True)
summed_otu_counts_night.columns = summed_otu_counts_night.columns.str.replace('^','microbiome_night_', regex=True)
"""

Importing the matrix with microbiome runs with identifiers used in CoNekT Grasses (exporting is no longer done):

In [31]:
#summed_otu_counts_separate_day_night = pd.concat([summed_otu_counts_day, summed_otu_counts_night], axis=1)
#summed_otu_counts_separate_day_night.to_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/16S_wallace2018/combine_day_night_samples/summed_day_night_otu_counts_conekt.tsv",
#                                            sep="\t")
summed_otu_counts_separate_day_night = pd.read_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/16S_wallace2018/combine_day_night_samples/summed_day_night_otu_counts_conekt.tsv",
                                                   sep="\t")
summed_otu_counts_separate_day_night.set_index("OTU ID", inplace=True)
summed_otu_counts_separate_day_night.head()

/tmp/ipykernel_120581/2456355149.py:4: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  summed_otu_counts_separate_day_night = pd.read_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/16S_wallace2018/combine_day_night_samples/summed_day_night_otu_counts_conekt.tsv",

,microbiome_day_14A0253_26,microbiome_day_14A0171_26,microbiome_day_14A0045_8,microbiome_day_14A0085_8,microbiome_day_14A0079_26,microbiome_day_14A0467_26,microbiome_day_14A0039_8,microbiome_day_14A0403_26,microbiome_day_14A0063_8,microbiome_day_14A0513_26,...,microbiome_night_14A0519_26,microbiome_night_14A0005_8,microbiome_night_14A0027_8,microbiome_night_14A0533_26,microbiome_night_14A0333_26,microbiome_night_14A0473_26,microbiome_night_14A0047_8,microbiome_night_14A0453_26,microbiome_night_14A0345_8,microbiome_night_14A0343_8
OTU ID,,,,,,,,,,,,,,,,,,,,,
4479944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
995900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1124709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533625,5.0,3.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,...,61.0,0.0,0.0,0.0,4.0,20.0,0.0,10.0,0.0,0.0

### Importing expression counts with day and night samples

In [2]:
import pandas as pd

expression_counts_day = pd.read_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/correlations_rnaseq_metataxonomics/kremling_expression_v5_day.tsv",
                                    sep="\t")
expression_counts_day.set_index("Name", inplace=True)
expression_counts_day.columns = expression_counts_day.columns.str.replace('^','exp_day_', regex=True)
expression_counts_night = pd.read_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/correlations_rnaseq_metataxonomics/kremling_expression_v5_night.tsv",
                                    sep="\t")
expression_counts_night.set_index("Name", inplace=True)
expression_counts_night.columns = expression_counts_night.columns.str.replace('^','exp_night_', regex=True)

In [3]:
expression_counts_day_night = pd.concat([expression_counts_day,
                                         expression_counts_night], axis=1)
expression_counts_day_night.head()

,exp_day_14A0253_26,exp_day_14A0171_26,exp_day_14A0045_8,exp_day_14A0085_8,exp_day_14A0079_26,exp_day_14A0467_26,exp_day_14A0039_8,exp_day_14A0403_26,exp_day_14A0063_8,exp_day_14A0513_26,...,exp_night_14A0519_26,exp_night_14A0005_8,exp_night_14A0027_8,exp_night_14A0533_26,exp_night_14A0333_26,exp_night_14A0473_26,exp_night_14A0047_8,exp_night_14A0453_26,exp_night_14A0345_8,exp_night_14A0343_8
Name,,,,,,,,,,,,,,,,,,,,,
Zm00001eb371370_T002,2,3,7,7,1,8,7,24,20,4,...,1,0,0,3,1,1,0,0,0,0
Zm00001eb371350_T001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zm00001eb371330_T001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zm00001eb371310_T001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zm00001eb371280_T001,3,0,6,22,3,9,10,5,8,4,...,3,0,6,0,4,1,4,0,9,4

Exporting the matrix of day and night samples:

In [4]:
expression_counts_day_night.to_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/poster_presentation_notebooks/plant_center_retreat_2024/expression_counts_day_night.tsv",
                                   sep="\t")

## Normalizing data - transcript expression

Importing transcript lenghts required in RPKM and TPM normalization methods:

In [34]:
gene_length_table = pd.read_csv('/home/rsantos/Repositories/maize_microbiome_transcriptomics/correlations_rnaseq_metataxonomics/Zmays_Zm_B73_REFERENCE_NAM_5_0_55_transcripts_PrimaryTranscriptOnly_length.txt',
                               sep="\t")
gene_length_table.set_index('Name', inplace=True)

### CPM

In [35]:
from bioinfokit.analys import norm

# CPM (or RPM, reads per million) normalization
# Following Renesh Bedre's blog:
# https://www.reneshbedre.com/blog/expression_units.html#rpm-or-cpm-reads-per-million-mapped-reads-or-counts-per-million-mapped-reads-
nm = norm()
nm.cpm(df=expression_counts_day_night)
kremling_expression_v5_cpm = nm.cpm_norm

### RPKM

In [36]:
from bioinfokit.analys import norm

kremling_raw_expression_v5_gene_length = pd.merge(expression_counts_day_night, gene_length_table, on="Name")
nm = norm()
nm.rpkm(df=kremling_raw_expression_v5_gene_length, gl='Length')
kremling_expression_v5_rpkm = nm.rpkm_norm

### TPM

In [37]:
from bioinfokit.analys import norm

nm = norm()
nm.tpm(df=kremling_raw_expression_v5_gene_length, gl='Length')
kremling_expression_v5_tpm = nm.tpm_norm

In [38]:
kremling_expression_v5_tpm.to_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/poster_presentation_notebooks/plant_center_retreat_2024/kremling_expression_v5_tpm.tsv",
                                                        sep="\t")

## Normalizing data - OTU abundance

### CPM

In [39]:
from bioinfokit.analys import norm

nm = norm()
nm.cpm(df=summed_otu_counts_separate_day_night)
summed_otu_separate_day_night_cpm = nm.cpm_norm

In [40]:
summed_otu_separate_day_night_cpm.to_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/poster_presentation_notebooks/plant_center_retreat_2024/summed_otu_separate_day_night_cpm.tsv",
                                                        sep="\t")

### Relative abundance

In [41]:
summed_otu_separate_day_night_rel_abund = summed_otu_counts_separate_day_night.divide(summed_otu_counts_separate_day_night.sum())
summed_otu_separate_day_night_rel_abund = summed_otu_separate_day_night_rel_abund * 100

## Filtering expression and OTU data (low abundance and coefficient of variation)

### Transcript expression

Filter genes based on RPKM values:

In [42]:
genes_tokeep = kremling_expression_v5_rpkm[(kremling_expression_v5_rpkm > 3).sum(axis=1) >= (kremling_expression_v5_rpkm.shape[1] * 0.8)].index

Filtering all matrices based on RPKM threshold above:

In [43]:
expression_counts_day_night_filtered = expression_counts_day_night[expression_counts_day_night.index.isin(genes_tokeep)]
kremling_expression_v5_cpm_filtered = kremling_expression_v5_cpm[kremling_expression_v5_cpm.index.isin(genes_tokeep)]
kremling_expression_v5_rpkm_filtered = kremling_expression_v5_rpkm[kremling_expression_v5_rpkm.index.isin(genes_tokeep)]
kremling_expression_v5_tpm_filtered = kremling_expression_v5_tpm[kremling_expression_v5_tpm.index.isin(genes_tokeep)]

Filtering based on coefficient of variation:

In [44]:
import numpy as np

# Calculate the coefficient of variation for each row
expression_counts_day_night_filtered_cv = expression_counts_day_night_filtered.apply(lambda row: np.std(row) / np.mean(row), axis=1)
expression_counts_day_night_filtered_cv_filtered = expression_counts_day_night_filtered.loc[expression_counts_day_night_filtered_cv[expression_counts_day_night_filtered_cv > expression_counts_day_night_filtered_cv.quantile(q=0.25)].index]
kremling_expression_v5_cpm_filtered_cv = kremling_expression_v5_cpm_filtered.apply(lambda row: np.std(row) / np.mean(row), axis=1)
kremling_expression_v5_cpm_filtered_cv_filtered = kremling_expression_v5_cpm_filtered.loc[kremling_expression_v5_cpm_filtered_cv[kremling_expression_v5_cpm_filtered_cv > kremling_expression_v5_cpm_filtered_cv.quantile(q=0.25)].index]
kremling_expression_v5_tpm_filtered_cv = kremling_expression_v5_tpm_filtered.apply(lambda row: np.std(row) / np.mean(row), axis=1)
kremling_expression_v5_tpm_filtered_cv_filtered = kremling_expression_v5_tpm_filtered.loc[kremling_expression_v5_tpm_filtered_cv[kremling_expression_v5_tpm_filtered_cv > kremling_expression_v5_tpm_filtered_cv.quantile(q=0.25)].index]
kremling_expression_v5_rpkm_filtered_cv = kremling_expression_v5_rpkm_filtered.apply(lambda row: np.std(row) / np.mean(row), axis=1)
kremling_expression_v5_rpkm_filtered_cv_filtered = kremling_expression_v5_rpkm_filtered.loc[kremling_expression_v5_rpkm_filtered_cv[kremling_expression_v5_rpkm_filtered_cv > kremling_expression_v5_rpkm_filtered_cv.quantile(q=0.25)].index]

In [49]:
print(expression_counts_day_night_filtered_cv_filtered.shape)
print(kremling_expression_v5_cpm_filtered_cv_filtered.shape)
print(kremling_expression_v5_tpm_filtered_cv_filtered.shape)
print(kremling_expression_v5_rpkm_filtered_cv_filtered.shape)

(7201, 404)
(7201, 404)
(7201, 404)
(7201, 404)

### OTU abundance

In [45]:
otus_tokeep = summed_otu_separate_day_night_rel_abund[(summed_otu_separate_day_night_rel_abund > 0.001).sum(axis=1) >= (summed_otu_separate_day_night_rel_abund.shape[1] * 0.5)].index

In [46]:
summed_otu_separate_day_night_cpm_filtered = summed_otu_separate_day_night_cpm[summed_otu_separate_day_night_cpm.index.isin(otus_tokeep)]
summed_otu_counts_separate_day_night_filtered = summed_otu_counts_separate_day_night[summed_otu_counts_separate_day_night.index.isin(otus_tokeep)]

In [47]:
summed_otu_separate_day_night_cpm_filtered_cv = summed_otu_separate_day_night_cpm_filtered.apply(lambda row: np.std(row) / np.mean(row), axis=1)
summed_otu_separate_day_night_cpm_filtered_cv_filtered = summed_otu_separate_day_night_cpm_filtered.loc[summed_otu_separate_day_night_cpm_filtered_cv[summed_otu_separate_day_night_cpm_filtered_cv > summed_otu_separate_day_night_cpm_filtered_cv.quantile(q=0.25)].index]
summed_otu_counts_separate_day_night_filtered_cv = summed_otu_counts_separate_day_night_filtered.apply(lambda row: np.std(row) / np.mean(row), axis=1)
summed_otu_counts_separate_day_night_filtered_cv_filtered = summed_otu_counts_separate_day_night_filtered.loc[summed_otu_counts_separate_day_night_filtered_cv[summed_otu_counts_separate_day_night_filtered_cv > summed_otu_counts_separate_day_night_filtered_cv.quantile(q=0.25)].index]

In [48]:
print(summed_otu_separate_day_night_cpm_filtered_cv_filtered.shape)
print(summed_otu_counts_separate_day_night_filtered_cv_filtered.shape)

(594, 404)
(594, 404)

# Exporting data for the Plant Center Retreat Poster

## Exporting the whole filtered matrices

* TPM and counts for expression
* CPM and counts for OTU abundance

Notes:

* Day and night samples were extracted using R in the SparXCC submission script
* Maize subpopulation samples were extracted as shown below

In [20]:
kremling_expression_v5_tpm_filtered_cv_filtered.to_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/poster_presentation_notebooks/plant_center_retreat_2024/kremling_expression_v5_tpm_filtered_cv_filtered.tsv",
                                                        sep="\t")
expression_counts_day_night_filtered_cv_filtered.to_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/poster_presentation_notebooks/plant_center_retreat_2024/expression_counts_day_night_filtered_cv_filtered.tsv",
                                                        sep="\t")
summed_otu_separate_day_night_cpm_filtered_cv_filtered.to_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/poster_presentation_notebooks/plant_center_retreat_2024/summed_otu_separate_day_night_cpm_filtered_cv_filtered.tsv",
                                                        sep="\t")
summed_otu_counts_separate_day_night_filtered_cv_filtered.to_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/poster_presentation_notebooks/plant_center_retreat_2024/summed_otu_counts_separate_day_night_filtered_cv_filtered.tsv",
                                                                 sep="\t")

## Exporting the filtered matrices for maize subpopulations

These are the frequencies of each maize subpopulation. I (RACS) will consider only groups with 40 or more samples, as they are closer to the minimum sample count used by Jensen in the SparXCC paper.

In [50]:
group_assignments_wallace2018['Subpopulation'].value_counts()

Subpopulation
nss             102
mixed            58
ts               49
ss               40
popcorn           9
sweet             6
landraces         1
unclassified      1
Name: count, dtype: int64

In [72]:
list_samples_nss = group_assignments_wallace2018[group_assignments_wallace2018["Subpopulation"]=="nss"].index.str.replace('14A0','exp_day_14A0').to_list() +\
group_assignments_wallace2018[group_assignments_wallace2018["Subpopulation"]=="nss"].index.str.replace('14A0','exp_night_14A0').to_list() +\
group_assignments_wallace2018[group_assignments_wallace2018["Subpopulation"]=="nss"].index.str.replace('14A0','microbiome_day_14A0').to_list() +\
group_assignments_wallace2018[group_assignments_wallace2018["Subpopulation"]=="nss"].index.str.replace('14A0','microbiome_night_14A0').to_list()
len(list_samples_nss)

408

In [73]:
list_samples_mixed = group_assignments_wallace2018[group_assignments_wallace2018["Subpopulation"]=="mixed"].index.str.replace('14A0','exp_day_14A0').to_list() +\
group_assignments_wallace2018[group_assignments_wallace2018["Subpopulation"]=="mixed"].index.str.replace('14A0','exp_night_14A0').to_list() +\
group_assignments_wallace2018[group_assignments_wallace2018["Subpopulation"]=="mixed"].index.str.replace('14A0','microbiome_day_14A0').to_list() +\
group_assignments_wallace2018[group_assignments_wallace2018["Subpopulation"]=="mixed"].index.str.replace('14A0','microbiome_night_14A0').to_list()
len(list_samples_mixed)

232

In [74]:
list_samples_ts = group_assignments_wallace2018[group_assignments_wallace2018["Subpopulation"]=="ts"].index.str.replace('14A0','exp_day_14A0').to_list() +\
group_assignments_wallace2018[group_assignments_wallace2018["Subpopulation"]=="ts"].index.str.replace('14A0','exp_night_14A0').to_list() +\
group_assignments_wallace2018[group_assignments_wallace2018["Subpopulation"]=="ts"].index.str.replace('14A0','microbiome_day_14A0').to_list() +\
group_assignments_wallace2018[group_assignments_wallace2018["Subpopulation"]=="ts"].index.str.replace('14A0','microbiome_night_14A0').to_list()
len(list_samples_ts)

196

In [75]:
list_samples_ss = group_assignments_wallace2018[group_assignments_wallace2018["Subpopulation"]=="ss"].index.str.replace('14A0','exp_day_14A0').to_list() +\
group_assignments_wallace2018[group_assignments_wallace2018["Subpopulation"]=="ss"].index.str.replace('14A0','exp_night_14A0').to_list() +\
group_assignments_wallace2018[group_assignments_wallace2018["Subpopulation"]=="ss"].index.str.replace('14A0','microbiome_day_14A0').to_list() +\
group_assignments_wallace2018[group_assignments_wallace2018["Subpopulation"]=="ss"].index.str.replace('14A0','microbiome_night_14A0').to_list()
len(list_samples_ss)

160

Extracting samples of each maize subpopulation from expression counts and OTU counts dataframe:

In [80]:
expression_counts_day_night_filtered_cv_filtered_nss = expression_counts_day_night_filtered_cv_filtered.loc[:, list(set(list_samples_nss).intersection(expression_counts_day_night_filtered_cv_filtered.columns))]
expression_counts_day_night_filtered_cv_filtered_ss = expression_counts_day_night_filtered_cv_filtered.loc[:, list(set(list_samples_ss).intersection(expression_counts_day_night_filtered_cv_filtered.columns))]
expression_counts_day_night_filtered_cv_filtered_ts = expression_counts_day_night_filtered_cv_filtered.loc[:, list(set(list_samples_ts).intersection(expression_counts_day_night_filtered_cv_filtered.columns))]
expression_counts_day_night_filtered_cv_filtered_mixed = expression_counts_day_night_filtered_cv_filtered.loc[:, list(set(list_samples_mixed).intersection(expression_counts_day_night_filtered_cv_filtered.columns))]

print(expression_counts_day_night_filtered_cv_filtered_nss.shape)
print(expression_counts_day_night_filtered_cv_filtered_ss.shape)
print(expression_counts_day_night_filtered_cv_filtered_ts.shape)
print(expression_counts_day_night_filtered_cv_filtered_mixed.shape)

(7201, 145)
(7201, 47)
(7201, 84)
(7201, 89)

In [81]:
summed_otu_counts_separate_day_night_filtered_cv_filtered_nss = summed_otu_counts_separate_day_night_filtered_cv_filtered.loc[:, list(set(list_samples_nss).intersection(summed_otu_counts_separate_day_night_filtered_cv_filtered.columns))]
summed_otu_counts_separate_day_night_filtered_cv_filtered_ss = summed_otu_counts_separate_day_night_filtered_cv_filtered.loc[:, list(set(list_samples_ss).intersection(summed_otu_counts_separate_day_night_filtered_cv_filtered.columns))]
summed_otu_counts_separate_day_night_filtered_cv_filtered_ts = summed_otu_counts_separate_day_night_filtered_cv_filtered.loc[:, list(set(list_samples_ts).intersection(summed_otu_counts_separate_day_night_filtered_cv_filtered.columns))]
summed_otu_counts_separate_day_night_filtered_cv_filtered_mixed = summed_otu_counts_separate_day_night_filtered_cv_filtered.loc[:, list(set(list_samples_mixed).intersection(summed_otu_counts_separate_day_night_filtered_cv_filtered.columns))]

print(summed_otu_counts_separate_day_night_filtered_cv_filtered_nss.shape)
print(summed_otu_counts_separate_day_night_filtered_cv_filtered_ss.shape)
print(summed_otu_counts_separate_day_night_filtered_cv_filtered_ts.shape)
print(summed_otu_counts_separate_day_night_filtered_cv_filtered_mixed.shape)

(594, 145)
(594, 47)
(594, 84)
(594, 89)

Exporting the filtered matrices (need to change column names prior to correlations to make columns match between OTU and expression tables):

In [83]:
expression_counts_day_night_filtered_cv_filtered_nss.to_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/poster_presentation_notebooks/plant_center_retreat_2024/expression_counts_day_night_filtered_cv_filtered_nss.tsv",
                                                        sep="\t")
expression_counts_day_night_filtered_cv_filtered_ss.to_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/poster_presentation_notebooks/plant_center_retreat_2024/expression_counts_day_night_filtered_cv_filtered_ss.tsv",
                                                        sep="\t")
expression_counts_day_night_filtered_cv_filtered_ts.to_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/poster_presentation_notebooks/plant_center_retreat_2024/expression_counts_day_night_filtered_cv_filtered_ts.tsv",
                                                        sep="\t")
expression_counts_day_night_filtered_cv_filtered_mixed.to_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/poster_presentation_notebooks/plant_center_retreat_2024/expression_counts_day_night_filtered_cv_filtered_mixed.tsv",
                                                        sep="\t")

summed_otu_counts_separate_day_night_filtered_cv_filtered_nss.to_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/poster_presentation_notebooks/plant_center_retreat_2024/summed_otu_counts_separate_day_night_filtered_cv_filtered_nss.tsv",
                                                        sep="\t")
summed_otu_counts_separate_day_night_filtered_cv_filtered_ss.to_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/poster_presentation_notebooks/plant_center_retreat_2024/summed_otu_counts_separate_day_night_filtered_cv_filtered_ss.tsv",
                                                        sep="\t")
summed_otu_counts_separate_day_night_filtered_cv_filtered_ts.to_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/poster_presentation_notebooks/plant_center_retreat_2024/summed_otu_counts_separate_day_night_filtered_cv_filtered_ts.tsv",
                                                        sep="\t")
summed_otu_counts_separate_day_night_filtered_cv_filtered_mixed.to_csv("/home/rsantos/Repositories/maize_microbiome_transcriptomics/poster_presentation_notebooks/plant_center_retreat_2024/summed_otu_counts_separate_day_night_filtered_cv_filtered_mixed.tsv",
                                                        sep="\t")