# Correlations between transcriptome and OTU microbiome data

Notebook to run correlations between the host transcriptome data and OTUs from Dr. Wallace [manuscript](https://apsjournals.apsnet.org/doi/full/10.1094/PBIOMES-02-18-0008-R).

## Datasets

### RNAseq data

Matrix with TPM values from quantifying (Salmon) with cleaned reads against the maize transcriptome (representative transcripts of maize version 5)

### 16S data

The matrix that will be used corresponds to the OTU table generated by Dr. Wallace, which is in the FigShare repository lited in [Wallace et al. (2018)](https://apsjournals.apsnet.org/doi/full/10.1094/PBIOMES-02-18-0008-R).

In [ ]:
kremling_expression_key = '/home/rsantos/Repositories/maize_microbiome_transcriptomics/correlations_rnaseq_metataxonomics/0_kremling_expression_key.txt'
sra_run_table_16s = '/home/rsantos/Repositories/maize_microbiome_transcriptomics/16S_wallace2018/SraRunInfo_Wallace_etal_2018.csv'
sra_run_table_rnaseq = '/home/rsantos/Repositories/maize_microbiome_transcriptomics/rnaseq_kremling2018/run_info/SraRunInfo_Kremling_etal_2018.csv'

dict_wallace_kremling_2018 = {}
kremling_expression_key_dict = {}

In [ ]:
with open(kremling_expression_key, 'r') as file:

    _ = file.readline()

    for line in file:
        fields = line.strip().split('\t')
        
        kremling_identifier = fields[0]
        wallace_identifier = fields[1]

        # Adding both identifiers (Wallace and Kremling) to the dictionary
        kremling_expression_key_dict[kremling_identifier] = wallace_identifier
        kremling_expression_key_dict[wallace_identifier] = kremling_identifier

In [ ]:
import re

with open(sra_run_table_rnaseq, 'r') as file:

    _ = file.readline()

    for line in file:
        fields = line.strip().split(',')
        fields2 = fields[11].split('_')
        rnaseq_run_id = fields[0]
        sample_id = fields2[1]
        rnaseq_genotype = fields2[2]
        day = ''
        match = re.search(r'\d+', sample_id)
        unmatched_parts = re.split(r'\d+', sample_id)
        day_period = unmatched_parts[0]
        if match:
            day = int(match.group())
        if sample_id.startswith('LMA') and rnaseq_genotype != '#N/A':
            dict_wallace_kremling_2018[fields[11]] = {'run_accession_16s': '',
                                    'run_accession_rnaseq': rnaseq_run_id,
                                    'day': day,
                                    'day_period': day_period,
                                    'genotype_16s': '',
                                    'genotype_rnaseq': rnaseq_genotype}

In [ ]:
rnaseq_samples_with_16s = 0

with open(sra_run_table_16s, 'r') as file:

    _ = file.readline()

    for line in file:
        fields = line.strip().split(',')
        fields2 = fields[11].split('.')
        metataxonomics_run_id = fields[0]
        day = int(fields2[1])
        day_period = fields2[0]
        for key, value in kremling_expression_key_dict.items():
            if value == fields[11]:
                if dict_wallace_kremling_2018[key]['day'] != day:
                    print('Big problem!')
                    print(day, dict_wallace_kremling_2018[key]['day'])
                    print(dict_wallace_kremling_2018[key])
                    print(value, fields[11], key)
                    exit(1)
                if dict_wallace_kremling_2018[key]['day_period'] != day_period:
                    print('Big problem!')
                    if key == '10343927_LMAN8_CML505_CAACAG':
                        print("It's ok. I know this sample is problematic.")
                        continue
                    else:
                        print(day_period, dict_wallace_kremling_2018[key]['day_period'])
                        print(dict_wallace_kremling_2018[key])
                        print(value, fields[11], key)
                        exit(1)
                dict_wallace_kremling_2018[key]['run_accession_16s'] = metataxonomics_run_id
                rnaseq_samples_with_16s+=1

print(f'{rnaseq_samples_with_16s} sample pairs found.')

In [ ]:
no_16s = 0
for key, value in dict_wallace_kremling_2018.items():
    if value['run_accession_16s'] == '':
        print(key, value)
        no_16s+=1
print(f'{no_16s} samples without 16S data.')

# Generating a matrix with both RNAseq and OTUs from Wallace et al (2018)

Associations between 16S and RNAseq data are present in the 'dict_wallace_kremling_2018' dictionary.

In [ ]:
run2my_sample_id = {}

for key in dict_wallace_kremling_2018:
    if dict_wallace_kremling_2018[key]['run_accession_rnaseq']:
        run2my_sample_id[dict_wallace_kremling_2018[key]['run_accession_rnaseq']] = key
    if dict_wallace_kremling_2018[key]['run_accession_16s']:
        run2my_sample_id[dict_wallace_kremling_2018[key]['run_accession_16s']] = key

In [ ]:
import pandas as pd

# Importing expression data from Kremling et al. 2018 (TPM matrix on Maize v5 using Salmon after cleaning with cutadapt)
kremling_expression_v5 = pd.read_csv('/media/rsantos/4TB_drive/Projects/UGA_RACS/RNAseq/Salmon/Zma2_tpm_matrix.txt', sep='\t')

# Rename column and reset the index
kremling_expression_v5.set_index('Name', inplace=True)

# Print the dataframe
kremling_expression_v5.head()

#### Renaming columns

Renaming columns of Kremling data based on associations in 'run2my_sample_id'based'

In [ ]:
# Rename the columns using the dictionary
kremling_expression_v5 = kremling_expression_v5.rename(columns=run2my_sample_id)
kremling_expression_v5.columns = [str(x) for x in kremling_expression_v5.columns]

kremling_expression_v5.head()

#### Importing OTU data

OTU table was obtained from the FigShare repo associated with Wallace et al. (2018), with the `.biom` extension.
It was converted to a tabular file as described in the Gitlab wiki associated with this project.

In [ ]:
out_table_taxonomy_df = pd.read_table('/media/rsantos/4TB_drive/Projects/UGA_RACS/16S/Workflow/2_QiimeOtus/2f_otu_table.sample_filtered.no_mitochondria_chloroplast_taxonomy.tsv',
                                      comment='#')

out_table_taxonomy_df.set_index('OTU ID', inplace=True)
out_table_taxonomy_df.head()

In [ ]:
out_table_no_taxonomy_df = out_table_taxonomy_df.drop('taxonomy', axis=1)
out_table_no_taxonomy_df.head()

Renaming columns of Wallace data based on associations in 'kremling_expression_key_dict'based'

In [ ]:
# Rename the columns using the dictionary
out_table_no_taxonomy_df = out_table_no_taxonomy_df.rename(columns=kremling_expression_key_dict)
out_table_no_taxonomy_df.columns = [str(x) for x in out_table_no_taxonomy_df.columns]

In [ ]:
out_table_no_taxonomy_df.head()

#### Ensuring Wallace df has the same columns as Kremling df

In [ ]:
kremling_expression_v5 = kremling_expression_v5.filter(items=out_table_no_taxonomy_df.columns)

In [ ]:
print(kremling_expression_v5.shape)
kremling_expression_v5.head()

In [ ]:
out_table_no_taxonomy_df = out_table_no_taxonomy_df.filter(items=kremling_expression_v5.columns)

In [ ]:
print(out_table_no_taxonomy_df.shape)
out_table_no_taxonomy_df.head()

In [ ]:
if out_table_no_taxonomy_df.columns.all() == kremling_expression_v5.columns.all():
    print('Columns are equal!')

#### Filtering out OTUs and genes with many zeros

In [ ]:
def count_zeros(df, threshold=0.5):
    # Count the number of zeros in each row
    # If the number of zeros is greater than the threshold, remove the row
    threshold_int = int(df.shape[1] * threshold)
    print(f'Threshold: {threshold_int} (threshold * number of columns)')
    zero_counts = df.apply(lambda row: (row == 0).sum(), axis=1)
    return df[zero_counts < threshold_int]

In [ ]:
wallace_otus_zeros_filtered = count_zeros(out_table_no_taxonomy_df)
kremling_expression_v5_zeros_filtered = count_zeros(kremling_expression_v5)

In [ ]:
print(wallace_otus_zeros_filtered.shape)
print(kremling_expression_v5_zeros_filtered.shape)

#### Concatenating matrices and computing correlations for the OTUs

In [ ]:
concatenated_df = pd.concat([wallace_otus_zeros_filtered, kremling_expression_v5_zeros_filtered], axis=0)

In [ ]:
print(wallace_otus_zeros_filtered.shape)
print(kremling_expression_v5_zeros_filtered.shape)
print(concatenated_df.shape)

In [ ]:
concatenated_transposed = concatenated_df.T

I (RACS) decided to use CorALS:

In [ ]:
from corals.threads import set_threads_for_external_libraries
set_threads_for_external_libraries(n_threads=1)
import numpy as np
from corals.correlation.full.default import cor_full

In [ ]:
cor_values = cor_full(concatenated_transposed)
cor_values.shape

In [ ]:
highly_correlated_pairs_df = pd.DataFrame(columns=['feature1', 'feature2', 'correlation'])
correlated_pairs_file = open('correlated_pairs_otus_filter0_5_both.txt', 'w')

# Find the highly correlated pairs
for i in range(len(cor_values.columns)):
    for j in range(i+1, len(cor_values.columns)):
        if cor_values.columns[i] == cor_values.columns[j] or\
            (str(cor_values.columns[j]).startswith('Zm') and str(cor_values.columns[i]).startswith('Zm')):
            continue
        if ((abs(cor_values.iloc[i, j]) > 0.6) or\
           (abs(cor_values.iloc[i, j]) < -0.6)) and\
            (str(cor_values.columns[j]).startswith('Zm') or str(cor_values.columns[i]).startswith('Zm')):
            pair = (cor_values.columns[i], cor_values.columns[j])
            highly_correlated_pairs_df.loc[len(highly_correlated_pairs_df.index)] = [cor_values.columns[i],
                                                                                     cor_values.columns[j],
                                                                                     cor_values.iloc[i, j]]
            correlated_pairs_file.write(f'{cor_values.columns[i]}\t{cor_values.columns[j]}\t{cor_values.iloc[i, j]}\n')

correlated_pairs_file.close()

# Correlations between transcriptome and OTU microbiome merged Day and Night

Here I report correlations between the host transcriptome data and OTUs from Dr. Wallace [manuscript](https://apsjournals.apsnet.org/doi/full/10.1094/PBIOMES-02-18-0008-R). However, I (RACS) will used the OTU table after merging the Day and Night samples.

In [1]:
#kremling_expression_key = '/media/renato/SSD1TB/Repositories/maize_microbiome_transcriptomics/correlations_rnaseq_metataxonomics/0_kremling_expression_key.txt'
#sra_run_table_16s = '/media/renato/SSD1TB/Repositories/maize_microbiome_transcriptomics/16S_wallace2018/SraRunInfo_Wallace_etal_2018.csv'
#sra_run_table_rnaseq = '/media/renato/SSD1TB/Repositories/maize_microbiome_transcriptomics/rnaseq_kremling2018/run_info/SraRunInfo_Kremling_etal_2018.csv'
kremling_expression_key = '/home/rsantos/Repositories/maize_microbiome_transcriptomics/correlations_rnaseq_metataxonomics/0_kremling_expression_key.txt'
sra_run_table_16s = '/home/rsantos/Repositories/maize_microbiome_transcriptomics/16S_wallace2018/SraRunInfo_Wallace_etal_2018.csv'
sra_run_table_rnaseq = '/home/rsantos/Repositories/maize_microbiome_transcriptomics/rnaseq_kremling2018/run_info/SraRunInfo_Kremling_etal_2018.csv'

dict_wallace_kremling_2018 = {}
kremling_expression_key_dict = {}

In [2]:
with open(kremling_expression_key, 'r') as file:

    _ = file.readline()

    for line in file:
        fields = line.strip().split('\t')
        
        kremling_identifier = fields[0]
        wallace_identifier = fields[1]

        # Adding both identifiers (Wallace and Kremling) to the dictionary
        kremling_expression_key_dict[kremling_identifier] = wallace_identifier
        kremling_expression_key_dict[wallace_identifier] = kremling_identifier

In [3]:
import re

with open(sra_run_table_rnaseq, 'r') as file:

    _ = file.readline()

    for line in file:
        fields = line.strip().split(',')
        fields2 = fields[11].split('_')
        rnaseq_run_id = fields[0]
        sample_id = fields2[1]
        rnaseq_genotype = fields2[2]
        day = ''
        match = re.search(r'\d+', sample_id)
        unmatched_parts = re.split(r'\d+', sample_id)
        day_period = unmatched_parts[0]
        if match:
            day = int(match.group())
        if sample_id.startswith('LMA') and rnaseq_genotype != '#N/A':
            dict_wallace_kremling_2018[fields[11]] = {'run_accession_16s': '',
                                    'run_accession_rnaseq': rnaseq_run_id,
                                    'day': day,
                                    'day_period': day_period,
                                    'genotype_16s': '',
                                    'genotype_rnaseq': rnaseq_genotype}

In [4]:
rnaseq_samples_with_16s = 0

with open(sra_run_table_16s, 'r') as file:

    _ = file.readline()

    for line in file:
        fields = line.strip().split(',')
        fields2 = fields[11].split('.')
        metataxonomics_run_id = fields[0]
        day = int(fields2[1])
        day_period = fields2[0]
        for key, value in kremling_expression_key_dict.items():
            if value == fields[11]:
                if dict_wallace_kremling_2018[key]['day'] != day:
                    print('Big problem!')
                    print(day, dict_wallace_kremling_2018[key]['day'])
                    print(dict_wallace_kremling_2018[key])
                    print(value, fields[11], key)
                    exit(1)
                if dict_wallace_kremling_2018[key]['day_period'] != day_period:
                    print('Big problem!')
                    if key == '10343927_LMAN8_CML505_CAACAG':
                        print("It's ok. I know this sample is problematic.")
                        continue
                    else:
                        print(day_period, dict_wallace_kremling_2018[key]['day_period'])
                        print(dict_wallace_kremling_2018[key])
                        print(value, fields[11], key)
                        exit(1)
                dict_wallace_kremling_2018[key]['run_accession_16s'] = metataxonomics_run_id
                rnaseq_samples_with_16s+=1

print(f'{rnaseq_samples_with_16s} sample pairs found.')

Big problem!
It's ok. I know this sample is problematic.
484 sample pairs found.

In [5]:
no_16s = 0
for key, value in dict_wallace_kremling_2018.items():
    if value['run_accession_16s'] == '':
        print(key, value)
        no_16s+=1
print(f'{no_16s} samples without 16S data.')

10343927_LMAN8_B73_CACACT {'run_accession_16s': '', 'run_accession_rnaseq': 'SRR5909633', 'day': 8, 'day_period': 'LMAN', 'genotype_16s': '', 'genotype_rnaseq': 'B73'}
10343927_LMAN8_CML505_CAACAG {'run_accession_16s': '', 'run_accession_rnaseq': 'SRR5911345', 'day': 8, 'day_period': 'LMAN', 'genotype_16s': '', 'genotype_rnaseq': 'CML505'}
2 samples without 16S data.

In [6]:
run2my_sample_id = {}

for key in dict_wallace_kremling_2018:
    if dict_wallace_kremling_2018[key]['run_accession_rnaseq']:
        run2my_sample_id[dict_wallace_kremling_2018[key]['run_accession_rnaseq']] = key
    if dict_wallace_kremling_2018[key]['run_accession_16s']:
        run2my_sample_id[dict_wallace_kremling_2018[key]['run_accession_16s']] = key

Importing the merged OTU table:

In [7]:
import pandas as pd

#otu_table_merged_d_n = pd.read_csv('/media/renato/SSD1TB/Repositories/maize_microbiome_transcriptomics/16S_wallace2018/combine_day_night_samples/summed_day_night_otu_counts.tsv',
#                                   sep='\t', index_col='OTU ID')
otu_table_merged_d_n = pd.read_csv('/home/rsantos/Repositories/maize_microbiome_transcriptomics/16S_wallace2018/combine_day_night_samples/summed_day_night_otu_counts.tsv',
                                   sep='\t', index_col='OTU ID')
                                   
otu_table_merged_d_n.head()

,14A0247_8,14A0051_8,14A0381_26,14A0533_26,14A0281_8,14A0295_8,14A0169_26,14A0069_8,14A0497_26,14A0023_8,...,14A0345_8,14A0267_8,14A0009_8,14A0007_8,14A0093_26,14A0137_26,14A0265_8,14A0155_26,14A0167_26,14A0481_26
OTU ID,,,,,,,,,,,,,,,,,,,,,
4479944,1.0,2.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995900,0.0,0.0,0.0,0.0,5.0,8.0,6.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1124709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533625,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,40.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,2.0

An important note is that even thought the OTU table was merged, we are still going to correlate microbiome data with the transcriptome. However, one question that arises is how well day and night samples are correlated in transcriptome data (to ensure correlation with the average or with one of the samples - day or night - make sense).

In [8]:
import pandas as pd

# Importing expression data from Kremling et al. 2018 (TPM matrix on Maize v5 using Salmon after cleaning with cutadapt)
kremling_expression_v5 = pd.read_csv('/media/rsantos/4TB_drive/Projects/UGA_RACS/RNAseq/Salmon/Zma2_tpm_matrix.txt', sep='\t')
#kremling_expression_v5 = pd.read_csv('/media/renato/SSD1TB/Projects/UGA_RACS/RNAseq/Salmon/Zma2_tpm_matrix.txt', sep='\t')

# Rename column and reset the index
kremling_expression_v5.set_index('Name', inplace=True)

# Print the dataframe
kremling_expression_v5.head()

,SRR5909626,SRR5909627,SRR5909633,SRR5909635,SRR5909639,SRR5909642,SRR5909645,SRR5909653,SRR5909655,SRR5909665,...,SRR5912073,SRR5912081,SRR5912082,SRR5912083,SRR5912093,SRR5912094,SRR5912104,SRR5912105,SRR5912111,SRR5912116
Name,,,,,,,,,,,,,,,,,,,,,
Zm00001eb371370_T002,1.04145,0.0000,3.391060,0.0,0.0000,1.82712,0.284514,2.23201,0.437147,0.468934,...,0.00000,1.51042,0.00000,0.0,0.00000,2.82055,3.96967,0.00000,2.96105,0.00000
Zm00001eb371350_T001,0.00000,0.0000,0.000000,0.0,0.0000,0.00000,0.000000,0.00000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
Zm00001eb371330_T001,0.00000,0.0000,0.000000,0.0,0.0000,0.00000,0.000000,0.00000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
Zm00001eb371310_T001,0.00000,0.0000,0.000000,0.0,0.0000,0.00000,0.000000,0.00000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
Zm00001eb371280_T001,1.27650,2.1092,0.692731,0.0,4.2798,1.47496,2.557320,0.00000,1.065940,1.149530,...,3.02253,0.41140,1.17447,0.0,3.48749,9.47506,6.19189,3.80776,1.03695,1.14981

In [9]:
# Rename the columns using the dictionary
kremling_expression_v5 = kremling_expression_v5.rename(columns=run2my_sample_id)
kremling_expression_v5.columns = [str(x) for x in kremling_expression_v5.columns]

kremling_expression_v5.head()

,10343927_LMAD26_CI21E_AAGTGG,10343264_LMAN26_CI21E_ATGAAC,10343927_LMAN8_B73_CACACT,10343264_LMAN26_B64_ACCAGT,10343262_LMAN8_B109_TGCTAT,10343262_LMAN8_B14A_CTCTCG,10343262_LMAN8_B57_CCTAAG,10343927_LMAD26_B77_TAATCG,10343262_LMAN8_B79_GCAGCC,10343927_LMAN8_CI187-2_GACGAT,...,10344826_LMAN8_I29_ACGTCT,10344823_LMAD8_IA2132_ACACGC,10343264_LMAD26_CML91_AACGCC,10344827_LMAN26_CML91_AATCCG,10344827_LMAN26_Ki21_AAGACA,10343927_LMAD26_Ki21_ACGTCT,10344826_LMAD8_E2558W_CGCAAC,10343927_LMAN8_E2558W_GAACCT,10344826_LMAD8_IDS69_CAGGAC,10343927_LMAN8_IDS69_ACATTA
Name,,,,,,,,,,,,,,,,,,,,,
Zm00001eb371370_T002,1.04145,0.0000,3.391060,0.0,0.0000,1.82712,0.284514,2.23201,0.437147,0.468934,...,0.00000,1.51042,0.00000,0.0,0.00000,2.82055,3.96967,0.00000,2.96105,0.00000
Zm00001eb371350_T001,0.00000,0.0000,0.000000,0.0,0.0000,0.00000,0.000000,0.00000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
Zm00001eb371330_T001,0.00000,0.0000,0.000000,0.0,0.0000,0.00000,0.000000,0.00000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
Zm00001eb371310_T001,0.00000,0.0000,0.000000,0.0,0.0000,0.00000,0.000000,0.00000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
Zm00001eb371280_T001,1.27650,2.1092,0.692731,0.0,4.2798,1.47496,2.557320,0.00000,1.065940,1.149530,...,3.02253,0.41140,1.17447,0.0,3.48749,9.47506,6.19189,3.80776,1.03695,1.14981

In [12]:
import matplotlib.pyplot as plt
import numpy as np

#### Testing correlations between D and N samples for RNAseq

Running correlations between all pairs of RNAseq samples - N and D - and generate a histogram of the values.

In [13]:
rnaseq_pairs_cors = []
rnaseq_pairs2correlate = {}
ones = 0
twos = 0
threes_or_more = 0

for key in dict_wallace_kremling_2018.keys():
    if str(dict_wallace_kremling_2018[key]['day'])+'_'+dict_wallace_kremling_2018[key]['genotype_rnaseq'] not in rnaseq_pairs2correlate.keys():
        rnaseq_pairs2correlate[str(dict_wallace_kremling_2018[key]['day'])+'_'+dict_wallace_kremling_2018[key]['genotype_rnaseq']]=[key]
    else:
        rnaseq_pairs2correlate[str(dict_wallace_kremling_2018[key]['day'])+'_'+dict_wallace_kremling_2018[key]['genotype_rnaseq']].append(key)

for key in rnaseq_pairs2correlate.keys():
    if len(rnaseq_pairs2correlate[key]) == 1:
        ones+=1
    elif len(rnaseq_pairs2correlate[key]) == 2:
        twos+=1
        column1 = kremling_expression_v5[rnaseq_pairs2correlate[key][0]]
        column2 = kremling_expression_v5[rnaseq_pairs2correlate[key][1]]
        correlation = np.corrcoef(column1, column2)[0, 1]
        rnaseq_pairs_cors.append(correlation)
    elif len(rnaseq_pairs2correlate[key]) >= 3:
        threes_or_more+=1
    else:
        continue

print(f'cases with ones: {ones}')
print(f'cases with twos: {twos}')
print(f'cases with threes: {threes_or_more}')

cases with ones: 60
cases with twos: 203
cases with threes: 2

In [ ]:
import matplotlib.pyplot as plt

# Build histogram
plt.hist(rnaseq_pairs_cors, bins=100, edgecolor='black')

# Add labels and title
plt.xlabel('Value')
plt.ylabel('Frequency')
plt.title('Histogram')

# Show the plot
plt.show()

It looks like there is a high correlation in most of the pairs (D and N for same genes).

I (RACS) will run correlations between OTUs and RNAseq in three sets of samples:

 * Samples comprising a random sample (either D or N of the same plot/genotype)
 * Only day samples
 * Only night samples

#### Selecting one random sample (D or N) for the RNAseq

In [ ]:
import random

kremling2merged_d_n = {}

for key, value in rnaseq_pairs2correlate.items():
    if len(rnaseq_pairs2correlate[key]) == 2:
        random_number = random.randint(0, 1)
        fields = kremling_expression_key_dict[value[random_number]].split('.')
        #print(fields[2]+'_'+str(fields[1]))

        kremling2merged_d_n[value[random_number]] = fields[2]+'_'+str(fields[1])

In [ ]:
# Rename the columns using the dictionary
kremling_expression_v5_renamed = kremling_expression_v5.rename(columns=kremling2merged_d_n)
kremling_expression_v5_renamed.columns = [str(x) for x in kremling_expression_v5_renamed.columns]

In [ ]:
kremling_expression_v5_renamed.head()

In [ ]:
kremling_expression_v5_renamed = kremling_expression_v5_renamed.filter(items=otu_table_merged_d_n.columns)
otu_table_merged_d_n = otu_table_merged_d_n.filter(items=kremling_expression_v5_renamed.columns)

In [ ]:
kremling_expression_v5_renamed.head()

In [ ]:
otu_table_merged_d_n.head()

In [ ]:
if kremling_expression_v5_renamed.columns.all() == otu_table_merged_d_n.columns.all():
    print('Columns are equal!')

In [ ]:
def count_zeros(df, threshold=0.5):
    # Count the number of zeros in each row
    # If the number of zeros is greater than the threshold, remove the row
    threshold_int = int(df.shape[1] * threshold)
    print(f'Threshold: {threshold_int} (threshold * number of columns)')
    zero_counts = df.apply(lambda row: (row == 0).sum(), axis=1)
    return df[zero_counts < threshold_int]

In [ ]:
otu_table_merged_d_n_zeros_filtered = count_zeros(otu_table_merged_d_n)
kremling_expression_v5_renamed_zeros_filtered = count_zeros(kremling_expression_v5_renamed)

In [ ]:
otu_table_merged_d_n_zeros_filtered.head()

In [ ]:
import pandas as pd

total_counts = otu_table_merged_d_n_zeros_filtered.sum()  # Calculate the total count for each column
wallace2018_fractions = otu_table_merged_d_n_zeros_filtered.div(total_counts)  # Divide each value by the total count
wallace2018_fractions_100 = wallace2018_fractions.multiply(100)  # Multiply by 100 to get the percentage

wallace2018_fractions_100.head()

In [ ]:
concatenated_df = pd.concat([kremling_expression_v5_renamed_zeros_filtered,
                             wallace2018_fractions_100], axis=0)

In [ ]:
print(concatenated_df.shape)
print(kremling_expression_v5_renamed_zeros_filtered.shape)
print(otu_table_merged_d_n_zeros_filtered.shape)

In [ ]:
concatenated_transposed = concatenated_df.T

In [ ]:
from corals.threads import set_threads_for_external_libraries
set_threads_for_external_libraries(n_threads=1)
import numpy as np
from corals.correlation.full.default import cor_full

In [ ]:
cor_values = cor_full(concatenated_transposed)
cor_values.shape

In [ ]:
highly_correlated_pairs_df = pd.DataFrame(columns=['feature1', 'feature2', 'correlation'])
correlated_pairs_file = open('correlated_pairs_merged_otusfractions_transcripts.txt', 'w')

# Find the highly correlated pairs
for i in range(len(cor_values.columns)):
    for j in range(i+1, len(cor_values.columns)):
        if cor_values.columns[i] == cor_values.columns[j] or\
            (str(cor_values.columns[j]).startswith('Zm') and str(cor_values.columns[i]).startswith('Zm')):
            continue
        if ((abs(cor_values.iloc[i, j]) > 0.6) or\
           (abs(cor_values.iloc[i, j]) < -0.6)) and\
            (str(cor_values.columns[j]).startswith('Zm') or str(cor_values.columns[i]).startswith('Zm')):
            pair = (cor_values.columns[i], cor_values.columns[j])
            highly_correlated_pairs_df.loc[len(highly_correlated_pairs_df.index)] = [cor_values.columns[i],
                                                                                     cor_values.columns[j],
                                                                                     cor_values.iloc[i, j]]
            correlated_pairs_file.write(f'{cor_values.columns[i]}\t{cor_values.columns[j]}\t{cor_values.iloc[i, j]}\n')

correlated_pairs_file.close()

#### Selecting Day and Night samples separately for the RNAseq

In [14]:
kremling2merged_day_samples_dict = {}
kremling2merged_night_samples_dict = {}
problematic_samples = []

for key, value in rnaseq_pairs2correlate.items():
    if len(rnaseq_pairs2correlate[key]) == 2:
        n_count = 0
        d_count = 0
        for plot_day_id in rnaseq_pairs2correlate[key]:
            fields = kremling_expression_key_dict[plot_day_id].split('.')
            if fields[0] == 'LMAD' and d_count == 0:
                kremling2merged_day_samples_dict[plot_day_id] = fields[2]+'_'+str(fields[1])
                d_count+=1
            elif fields[0] == 'LMAN' and n_count == 0:
                kremling2merged_night_samples_dict[plot_day_id] = fields[2]+'_'+str(fields[1])
                n_count+=1
            else:
                #print('Problem with the sample identifier.')
                #print(fields[0])
                problematic_samples.append(rnaseq_pairs2correlate[key])

print(f'Problematic samples: {problematic_samples}')

Problematic samples: [['10343927_LMAD8_CML505_AACGCC', '10343927_LMAN8_CML505_CAACAG']]

In [15]:
kremling_expression_key_dict.keys()

dict_keys(['10343927_LMAD26_33-16_CTCATA', 'LMAD.26.14A0309', '10344827_LMAN26_33-16_AGGCAT', 'LMAN.26.14A0309', '10343262_LMAN8_38-11_TCGTTC', 'LMAN.8.14A0233', '10343264_LMAN26_4226_TGTGCA', 'LMAN.26.14A0079', '10343927_LMAD26_4226_TGGCGA', 'LMAD.26.14A0079', '10343262_LMAN8_4722_GACATC', 'LMAN.8.14A0311', '10344823_LMAD8_A188_TTAACT', 'LMAD.8.14A0021', '10344826_LMAN8_A188_CCTGCT', 'LMAN.8.14A0021', '10343264_LMAD26_A214N_CGAAGG', 'LMAD.26.14A0451', '10344827_LMAN26_A214N_TCGTTC', 'LMAN.26.14A0451', '10343262_LMAN8_A239_CAAGCA', 'LMAN.8.14A0125', '10343927_LMAD26_A441-5_CTAGTC', 'LMAD.26.14A0307', '10344827_LMAN26_A441-5_AGTTGA', 'LMAN.26.14A0307', '10344823_LMAD8_A554_CCTGCT', 'LMAD.8.14A0035', '10344826_LMAN8_A554_GTGTAG', 'LMAN.8.14A0035', '10344823_LMAD8_A556_TCGTTC', 'LMAD.8.14A0031', '10344826_LMAN8_A556_ACAGAT', 'LMAN.8.14A0031', '10343264_LMAD26_A6_AAGTGG', 'LMAD.26.14A0513', '10344827_LMAN26_A6_ATGAAC', 'LMAN.26.14A0513', '10344823_LMAD8_A619_AGACCA', 'LMAD.8.14A0063', '10344826_LMAN8_A619_GAGTCC', 'LMAN.8.14A0063', '10343262_LMAN8_A632_AGGCAT', 'LMAN.8.14A0101', '10344823_LMAD8_A632_GCATGG', 'LMAD.8.14A0101', '10343262_LMAN8_A634_TTGGTA', 'LMAN.8.14A0107', '10343262_LMAN8_A635_CGGTTA', 'LMAN.8.14A0111', '10344823_LMAD8_A641_AGTACT', 'LMAD.8.14A0083', '10344826_LMAN8_A641_ATGGCG', 'LMAN.8.14A0083', '10344823_LMAD8_A654_TATGTC', 'LMAD.8.14A0013', '10344826_LMAN8_A654_CTCCAT', 'LMAN.8.14A0013', '10344823_LMAD8_A659_GGCTGC', 'LMAD.8.14A0023', '10344826_LMAN8_A659_AATGAA', 'LMAN.8.14A0023', '10344823_LMAD8_A661_GTCAGG', 'LMAD.8.14A0045', '10344826_LMAN8_A661_ACCGTG', 'LMAN.8.14A0045', '10344823_LMAD8_A679_TAGGCT', 'LMAD.8.14A0085', '10344826_LMAN8_A679_ATTGGT', 'LMAN.8.14A0085', '10343262_LMAN8_A680_CAGCGT', 'LMAN.8.14A0145', '10343262_LMAN8_A682_ACATTA', 'LMAN.8.14A0091', '10344823_LMAD8_A682_TCGAGG', 'LMAD.8.14A0091', '10343264_LMAD26_Ab28A_AGGCAT', 'LMAD.26.14A0425', '10344827_LMAN26_Ab28A_CCTAAG', 'LMAN.26.14A0425', '10343262_LMAN8_B10_TTCCGC', 'LMAN.8.14A0279', '10344823_LMAD8_B103_GCCACA', 'LMAD.8.14A0089', '10344826_LMAN8_B103_ATATCC', 'LMAN.8.14A0089', '10343262_LMAN8_B104_GTGCCA', 'LMAN.8.14A0263', '10343262_LMAN8_B105_ATACTG', 'LMAN.8.14A0287', '10343262_LMAN8_B109_TGCTAT', 'LMAN.8.14A0165', '10343262_LMAN8_B14A_CTCTCG', 'LMAN.8.14A0163', '10343262_LMAN8_B164_TGGCGA', 'LMAN.8.14A0133', '10343262_LMAN8_B2_ACAGAT', 'LMAN.8.14A0249', '10343262_LMAN8_B37_TGTGCA', 'LMAN.8.14A0241', '10343264_LMAN26_B46_ACCGTG', 'LMAN.26.14A0157', '10343927_LMAD26_B46_CGATCT', 'LMAD.26.14A0157', '10343264_LMAN26_B52_ATAAGA', 'LMAN.26.14A0193', '10343927_LMAD26_B52_TGCTAT', 'LMAD.26.14A0193', '10343262_LMAN8_B57_CCTAAG', 'LMAN.8.14A0199', '10343264_LMAN26_B64_ACCAGT', 'LMAN.26.14A0041', '10343927_LMAD26_B64_GCGAAT', 'LMAD.26.14A0041', '10343262_LMAN8_B68_ATAAGA', 'LMAN.8.14A0281', '10343262_LMAN8_B73_AATGAA', 'LMAN.8.14A0239', '10343262_LMAN8_B73_CCAATT', 'LMAN.8.14A0185', '10343262_LMAN8_B73_GCGCTG', 'LMAN.8.14A0113', '10343262_LMAN8_B73_GGCCAA', 'LMAN.8.14A0195', '10343264_LMAD26_B73_CAAGCA', 'LMAD.26.14A0455', '10343264_LMAN26_B73_ACTCTT', 'LMAN.26.14A0185', '10343264_LMAN26_B73_CCTGCT', 'LMAN.26.14A0029', '10343264_LMAN26_B73_GTGTAG', 'LMAN.26.14A0113', '10343264_LMAN26_B73_TCAGGA', 'LMAN.26.14A0239', '10343927_LMAD26_B73_CAGATG', 'LMAD.26.14A0113', '10343927_LMAD26_B73_CGCGGA', 'LMAD.26.14A0239', '10343927_LMAD26_B73_GATCAC', 'LMAD.26.14A0185', '10343927_LMAD26_B73_TATGTC', 'LMAD.26.14A0303', '10343927_LMAD26_B73_TTCCGC', 'LMAD.26.14A0381', '10343927_LMAN8_B73_AGGCAT', 'LMAN.8.14A0381', '10343927_LMAN8_B73_CACACT', 'LMAN.8.14A0029', '10343927_LMAN8_B73_GCGCTG', '10344827_LMAN26_B73_CCTGCT', '10344827_LMAN26_B73_GAACCT', 'LMAN.26.14A0303', '10344827_LMAN26_B73_GCAGCC', 'LMAN.26.14A0381', '10343262_LMAN8_B73Htrhm_AATCCG', 'LMAN.8.14A0235', '10343262_LMAN8_B75_CACTAA', 'LMAN.8.14A0151', '10344823_LMAD8_B76_ACCGTG', 'LMAD.8.14A0059', '10344826_LMAN8_B76_AGATAG', 'LMAN.8.14A0059', '10343264_LMAN26_B77_GTAGAA', 'LMAN.26.14A0171', '10343927_LMAD26_B77_TAATCG', 'LMAD.26.14A0171', '10343262_LMAN8_B79_GCAGCC', 'LMAN.8.14A0147', '10343264_LMAN26_B84_GTGCCA', 'LMAN.26.14A0155', '10343927_LMAD26_B84_GCAGCC', 'LMAD.26.14A0155', '10343262_LMAN8_C103_CGATCT', 'LMAN.8.14A0149', '10344823_LMAD8_C123_GCTCGA', 'LMAD.8.14A0081', '10344826_LMAN8_C123_GACATC', 'LMAN.8.14A0081', '10344823_LMAD8_C49A_AATGAA', 'LMAD.8.14A0037', '10344826_LMAN8_C49A_GGTATA', 'LMAN.8.14A0037', '10343262_LMAN8_CH701-30_GAACCT', 'LMAN.8.14A0095', '10344823_LMAD8_CH701-30_ATGAAC', 'LMAD.8.14A0095', '10343262_LMAN8_CH9_CGCGGA', 'LMAN.8.14A0183', '10343927_LMAN8_CI187-2_GACGAT', 'LMAN.8.14A0503', '10343264_LMAN26_CI21E_ATGAAC', 'LMAN.26.14A0253', '10343927_LMAD26_CI21E_AAGTGG', 'LMAD.26.14A0253', '10343927_LMAD26_CI28A_TCGAGG', 'LMAD.26.14A0403', '10344827_LMAN26_CI28A_AAGCTC', 'LMAN.26.14A0403', '10343927_LMAD26_CI31A_GTGTAG', 'LMAD.26.14A0355', '10344827_LMAN26_CI31A_CACACT', 'LMAN.26.14A0355', '10343262_LMAN8_CI3A_TTAACT', 'LMAN.8.14A0219', '10343264_LMAN26_CI64_ATATCC', 'LMAN.26.14A0293', '10343927_LMAD26_CI64_TTCGAG', 'LMAD.26.14A0293', '10343264_LMAD26_CI66_CAGATG', 'LMAD.26.14A0467', '10344827_LMAN26_CI66_GTGTAG', 'LMAN.26.14A0467', '10344823_LMAD8_CM105_ACCAGT', 'LMAD.8.14A0039', '10344826_LMAN8_CM105_GATTGT', 'LMAN.8.14A0039', '10344823_LMAD8_CM37_TACCTT', 'LMAD.8.14A0001', '10344826_LMAN8_CM37_TGCACG', 'LMAN.8.14A0001', '10344823_LMAD8_CM7_CCTAAG', 'LMAD.8.14A0007', '10344826_LMAN8_CM7_TTAACT', 'LMAN.8.14A0007', '10343264_LMAN26_CML10_AGACCA', 'LMAN.26.14A0169', '10343927_LMAD26_CML10_GGAGGT', 'LMAD.26.14A0169', '10343927_LMAD26_CML108_ATATCC', 'LMAD.26.14A0415', '10344827_LMAN26_CML108_CCGACC', 'LMAN.26.14A0415', '10343264_LMAD26_CML11_CCGACC', 'LMAD.26.14A0511', '10344827_LMAN26_CML11_TCGAGG', 'LMAN.26.14A0511', '10343927_LMAD26_CML154Q_ACAGAT', 'LMAD.26.14A0351', '10344827_LMAN26_CML154Q_AACGCC', 'LMAN.26.14A0351', '10343264_LMAD26_CML157Q_CAACAG', 'LMAD.26.14A0449', '10344827_LMAN26_CML157Q_TGACAC', 'LMAN.26.14A0449', '10343264_LMAD26_CML158Q_TGCTAT', 'LMAD.26.14A0487', '10344827_LMAN26_CML158Q_ATAAGA', 'LMAN.26.14A0487', '10343264_LMAD26_CML218_CGCGGA', 'LMAD.26.14A0501', '10344827_LMAN26_CML218_TCAGGA', 'LMAN.26.14A0501', '10343264_LMAD26_CML220_GTTACC', 'LMAD.26.14A0469', '10344827_LMAN26_CML220_GGTATA', 'LMAN.26.14A0469', '10343264_LMAD26_CML228_CCGCAA', 'LMAD.26.14A0533', 'KAKRNA14_LMAN26_CML228_ACATTA', 'LMAN.26.14A0533', '10343264_LMAD26_CML238_CCAATT', 'LMAD.26.14A0505', '10344827_LMAN26_CML238_TAGGCT', 'LMAN.26.14A0505', '10343264_LMAD26_CML261_TATGTC', 'LMAD.26.14A0539', 'KAKRNA14_LMAN26_CML261_GAACCT', 'LMAN.26.14A0539', '10343264_LMAD26_CML277_AATAGC', 'LMAD.26.14A0523', '10344827_LMAN26_CML277_GCATGG', 'LMAN.26.14A0523', '10343264_LMAD26_CML314_TACCTT', 'LMAD.26.14A0519', '10344827_LMAN26_CML314_GACATC', 'LMAN.26.14A0519', '10343264_LMAD26_CML322_GAAGTG', 'LMAD.26.14A0427', '10344827_LMAN26_CML322_TTCGAG', 'LMAN.26.14A0427', '10343264_LMAD26_CML323_GCAGCC', 'LMAD.26.14A0473', '10344827_LMAN26_CML323_GTGCCA', 'LMAN.26.14A0473', '10343927_LMAN8_CML328_TTGGTA', 'LMAN.8.14A0435', '10343264_LMAD26_CML331_TGCACG', 'LMAD.26.14A0547', 'KAKRNA14_LMAN26_CML331_ACAACG', 'LMAN.26.14A0547', '10343264_LMAD26_CML333_TGGATT', 'LMAD.26.14A0457', '10344827_LMAN26_CML333_ACCAGT', 'LMAN.26.14A0457', '10343264_LMAD26_CML341_CTAGTC', 'LMAD.26.14A0549', 'KAKRNA14_LMAN26_CML341_AGTTGA', 'LMAN.26.14A0549', '10343264_LMAD26_CML38_CAGGAC', 'LMAD.26.14A0497', '10344827_LMAN26_CML38_GCTCGA', 'LMAN.26.14A0497', '10343264_LMAD26_CML69_GACGAT', 'LMAD.26.14A0439', '10344827_LMAN26_CML69_TTAACT', 'LMAN.26.14A0439', '10343264_LMAN26_CML77_GCATGG', 'LMAN.26.14A0273', '10343927_LMAD26_CML77_AATAGC', 'LMAD.26.14A0273', '10343264_LMAD26_CML91_AACGCC', 'LMAD.26.14A0453', '10344827_LMAN26_CML91_AATCCG', 'LMAN.26.14A0453', '10344827_LMAN26_CML92_CGCGGA', 'LMAN.26.14A0409', '10344823_LMAD8_CMV3_CGTCGC', 'LMAD.8.14A0025', '10344826_LMAN8_CMV3_ACCAGT', 'LMAN.8.14A0025', '10344823_LMAD8_CO106_TGCACG', 'LMAD.8.14A0015', '10344826_LMAN8_CO106_TGACAC', 'LMAN.8.14A0015', '10344823_LMAD8_CO125_CTCCAT', 'LMAD.8.14A0027', '10344826_LMAN8_CO125_TGTGCA', 'LMAN.8.14A0027', '10344823_LMAD8_CO255_AATAGC', 'LMAD.8.14A0005', '10344826_LMAN8_CO255_CTCATA', 'LMAN.8.14A0005', '10343264_LMAN26_CI7_GACATC', 'LMAN.26.14A0259', '10343927_LMAD26_CI7_TACCTT', 'LMAD.26.14A0259', '10343927_LMAD26_CI90C_GCCACA', 'LMAD.26.14A0401', '10344827_LMAN26_CI90C_CATCTA', 'LMAN.26.14A0401', '10343927_LMAD26_CI91B_AGATAG', 'LMAD.26.14A0383', '10344827_LMAN26_CI91B_CACTAA', 'LMAN.26.14A0383', '10343264_LMAD26_D940Y_GATCAC', 'LMAD.26.14A0483', '10344827_LMAN26_D940Y_ACTCTT', 'LMAN.26.14A0483', '10343262_LMAN8_DE1_GAGTCC', 'LMAN.8.14A0289', '10343264_LMAN26_DE811_TCGAGG', 'LMAN.26.14A0245', '10343927_LMAD26_DE811_CCGACC', 'LMAD.26.14A0245', '10343927_LMAN8_E2558W_GAACCT', 'LMAN.8.14A0345', '10344826_LMAD8_E2558W_CGCAAC', 'LMAD.8.14A0345', '10344823_LMAD8_EP1_CTCATA', 'LMAD.8.14A0019', '10344826_LMAN8_EP1_AATCCG', 'LMAN.8.14A0019', '10343262_LMAN8_F2834T_ACGTCT', 'LMAN.8.14A0267', '10344826_LMAD8_F2834T_CAAGCA', 'LMAD.8.14A0267', '10343264_LMAD26_F6_GCGAAT', 'LMAD.26.14A0459', '10344827_LMAN26_F6_TGTGCA', 'LMAN.26.14A0459', '10344823_LMAD8_F7_TTCGAG', 'LMAD.8.14A0009', '10344826_LMAN8_F7_GGCTGC', 'LMAN.8.14A0009', '10343264_LMAD26_GA209_CATCTA', 'LMAD.26.14A0493', '10344827_LMAN26_GA209_ATACTG', 'LMAN.26.14A0493', '10343264_LMAD26_GT112_CAGCGT', 'LMAD.26.14A0471', '10344827_LMAN26_GT112_GATTGT', 'LMAN.26.14A0471', '10343262_LMAN8_H105W_AGAATC', 'LMAN.8.14A0115', '10343262_LMAN8_H49_GCGAAT', 'LMAN.8.14A0131', '10343262_LMAN8_H84_GGAGGT', 'LMAN.8.14A0153', '10343262_LMAN8_H91_ATGAAC', 'LMAN.8.14A0305', '10344826_LMAD8_H91_GATCAC', 'LMAD.8.14A0305', '10343262_LMAN8_H95_CTAGTC', 'LMAN.8.14A0213', '10344823_LMAD8_H99_GTAGAA', 'LMAD.8.14A0065', '10344826_LMAN8_H99_GCTCGA', 'LMAN.8.14A0065', '10343262_LMAN8_HP301_ACACGC', 'LMAN.8.14A0251', '10344826_LMAD8_HP301_ACCTAC', 'LMAD.8.14A0251', '10343264_LMAD26_Hi27_AAGCTC', 'LMAD.26.14A0495', '10344827_LMAN26_Hi27_GAGTCC', 'LMAN.26.14A0495', '10343927_LMAD26_I137TN_CCGCAA', 'LMAD.26.14A0299', '10344827_LMAN26_I137TN_ACATTA', 'LMAN.26.14A0299', '10343262_LMAN8_I205_CATCTA', 'LMAN.8.14A0175', '10344823_LMAD8_I29_ACAGAT', 'LMAD.8.14A0047', '10344826_LMAN8_I29_ACGTCT', 'LMAN.8.14A0047', '10344823_LMAD8_IA2132_ACACGC', 'LMAD.8.14A0049', '10344826_LMAN8_IA2132_AGACCA', 'LMAN.8.14A0049', '10343262_LMAN8_IDS28_CAGGAC', 'LMAN.8.14A0179', '10343927_LMAN8_IDS69_ACATTA', 'LMAN.8.14A0343', '10344826_LMAD8_IDS69_CAGGAC', 'LMAD.8.14A0343', '10343262_LMAN8_IDS91_CGCCTG', 'LMAN.8.14A0173', '10343264_LMAN26_IllHy_GCCACA', 'LMAN.26.14A0243', '10343927_LMAD26_IllHy_TCTTAA', 'LMAD.26.14A0243', '10344823_LMAD8_Ia5125_ATACTG', 'LMAD.8.14A0075', '10344826_LMAN8_Ia5125_TCGAGG', 'LMAN.8.14A0075', '10343262_LMAN8_Il101T_AAGACA', 'LMAN.8.14A0139', '10344823_LMAD8_Il14H_GAGTCC', 'LMAD.8.14A0077', '10344826_LMAN8_Il14H_ATGAAC', 'LMAN.8.14A0077', '10343262_LMAN8_K148_ATGGCG', 'LMAN.8.14A0313', '10344826_LMAD8_K148_TGCTAT', 'LMAD.8.14A0313', '10343927_LMAD26_K4_ACCGTG', 'LMAD.26.14A0365', '10344827_LMAN26_K4_CAATGC', 'LMAN.26.14A0365', '10343262_LMAN8_K55_AGATAG', 'LMAN.8.14A0283', '10344826_LMAD8_K55_AAGACA', 'LMAD.8.14A0283', '10343927_LMAD26_K64_CCTGCT', 'LMAD.26.14A0333', '10344827_LMAN26_K64_ACCTAC', 'LMAN.26.14A0333', '10343262_LMAN8_Ky226_ATTGGT', 'LMAN.8.14A0325', '10344826_LMAD8_Ky226_CATCTA', 'LMAD.8.14A0325', '10343927_LMAD26_Ky228_ATACTG', 'LMAD.26.14A0385', '10344827_LMAN26_Ky228_GGAGGT', 'LMAN.26.14A0385', '10343264_LMAD26_Ki11_TCTTAA', 'LMAD.26.14A0507', '10344827_LMAN26_Ki11_GCCACA', 'LMAN.26.14A0507', '10343264_LMAD26_Ki14_GGCCAA', 'LMAD.26.14A0521', '10344827_LMAN26_Ki14_ATGGCG', 'LMAN.26.14A0521', '10343927_LMAD26_Ki21_ACGTCT', 'LMAD.26.14A0367', '10344827_LMAN26_Ki21_AAGACA', 'LMAN.26.14A0367', '10343264_LMAD26_Ki44_TTCGAG', 'LMAD.26.14A0529', '10344827_LMAN26_Ki44_ATATCC', 'LMAN.26.14A0529', '10343927_LMAD26_Ky21_ATTGGT', 'LMAD.26.14A0413', '10344827_LMAN26_Ky21_TCTTAA', 'LMAN.26.14A0413', '10343927_LMAN8_L317_ACAACG', 'LMAN.8.14A0357', '10344826_LMAD8_L317_CGCGGA', 'LMAD.8.14A0357', '10343264_LMAD26_L578_CGGTTA', 'LMAD.26.14A0433', '10344827_LMAN26_L578_CTAGTC', 'LMAN.26.14A0433', '10343262_LMAN8_M14_AACCGA', 'LMAN.8.14A0117', '10343927_LMAD26_M162W_GAGTCC', 'LMAD.26.14A0387', '10344827_LMAN26_M162W_TAATCG', 'LMAN.26.14A0387', '10343927_LMAD26_M37W_CGTCGC', 'LMAD.26.14A0319', '10344827_LMAN26_M37W_TTGGTA', 'LMAN.26.14A0319', '10344823_LMAD8_MEF156-55-2_AATCCG', 'LMAD.8.14A0033', '10344826_LMAN8_MEF156-55-2_ACACGC', 'LMAN.8.14A0033', '10343262_LMAN8_Mo1W_GGCTGC', 'LMAN.8.14A0225', '10344826_LMAD8_Mo1W_ACATTA', 'LMAD.8.14A0225', '10344823_LMAD8_MS1334_GGTATA', 'LMAD.8.14A0053', '10344826_LMAN8_MS1334_ACTCTT', 'LMAN.8.14A0053', '10343262_LMAN8_MS153_ACAACG', 'LMAN.8.14A0097', '10344823_LMAD8_MS153_GACATC', 'LMAD.8.14A0097', '10343262_LMAN8_Mo17_AAGCTC', 'LMAN.8.14A0177', '10343264_LMAD26_Mo18W_CTCTCG', 'LMAD.26.14A0485', '10344827_LMAN26_Mo18W_TTCCGC', 'LMAN.26.14A0485', '10343262_LMAN8_Mo44_CCGCAA', 'LMAN.8.14A0203', '10343262_LMAN8_Mo45_ATATCC', 'LMAN.8.14A0339', '10344826_LMAD8_Mo45_AAGCTC', 'LMAD.8.14A0339', '10343262_LMAN8_Mo46_CTCATA', 'LMAN.8.14A0217', '10343262_LMAN8_Mo47_GAAGTG', 'LMAN.8.14A0103', '10344823_LMAD8_Mo47_ATTGGT', 'LMAD.8.14A0103', '10343927_LMAD26_Mp339_CTCCAT', 'LMAD.26.14A0323', '10344827_LMAN26_Mp339_GGTGAG', 'LMAN.26.14A0323', '10344823_LMAD8_Mt42_GGCCAA', 'LMAD.8.14A0003', '10344826_LMAN8_Mt42_CTAGTC', 'LMAN.8.14A0003', '10344823_LMAD8_N192_GATTGT', 'LMAD.8.14A0055', '10344826_LMAN8_N192_TTCCGC', 'LMAN.8.14A0055', '10343264_LMAN26_N28Ht_GAGTCC', 'LMAN.26.14A0215', '10343927_LMAD26_N28Ht_AAGCTC', 'LMAD.26.14A0215', '10343927_LMAD26_NC222_GCATGG', 'LMAD.26.14A0411', '10344827_LMAN26_NC222_CCAATT', 'LMAN.26.14A0411', '10343927_LMAD26_NC230_ACTCTT', 'LMAD.26.14A0373', '10344827_LMAN26_NC230_CAGCGT', 'LMAN.26.14A0373', '10343927_LMAD26_NC232_TCAGGA', 'LMAD.26.14A0397', '10344827_LMAN26_NC232_TGCTAT', 'LMAN.26.14A0397', '10343264_LMAD26_NC236_GGTGAG', 'LMAD.26.14A0431', '10344827_LMAN26_NC236_TGCACG', 'LMAN.26.14A0431', '10343264_LMAD26_NC238_TGGCGA', 'LMAD.26.14A0461', '10344827_LMAN26_NC238_GTCAGG', 'LMAN.26.14A0461', '10343264_LMAN26_NC250_GATTGT', 'LMAN.26.14A0137', '10343927_LMAD26_NC250_CAGCGT', 'LMAD.26.14A0137', '10343927_LMAD26_NC258_TGTGCA', 'LMAD.26.14A0341', '10344827_LMAN26_NC258_CAACAG', 'LMAN.26.14A0341', '10343262_LMAN8_NC260_CCGACC', 'LMAN.8.14A0187', '10343264_LMAN26_NC262_ACAGAT', 'LMAN.26.14A0093', '10343927_LMAD26_NC262_AAGACA', 'LMAD.26.14A0093', '10343262_LMAN8_NC264_ACCGTG', 'LMAN.8.14A0265', '10344826_LMAD8_NC264_AACGCC', 'LMAD.8.14A0265', '10343262_LMAN8_NC290A_GCTCGA', 'LMAN.8.14A0291', '10344826_LMAD8_NC290A_CAGCGT', 'LMAD.8.14A0291', '10343262_LMAN8_NC294_TCAGGA', 'LMAN.8.14A0297', '10344826_LMAD8_NC294_CGATCT', 'LMAD.8.14A0297', '10343264_LMAD26_NC296_GCGCTG', 'LMAD.26.14A0437', '10344827_LMAN26_NC296_CTCATA', 'LMAN.26.14A0437', '10343927_LMAD26_NC296A_GGTATA', 'LMAD.26.14A0359', '10344827_LMAN26_NC296A_TGGATT', 'LMAN.26.14A0359', '10343264_LMAD26_NC300_ACATTA', 'LMAD.26.14A0417', '10344827_LMAN26_NC300_AAGTGG', 'LMAN.26.14A0417', '10343927_LMAD26_NC302_ATGAAC', 'LMAD.26.14A0405', '10344827_LMAN26_NC302_CAGGAC', 'LMAN.26.14A0405', '10343264_LMAD26_NC304_TTGGTA', 'LMAD.26.14A0429', '10344827_LMAN26_NC304_TATGTC', 'LMAN.26.14A0429', '10343264_LMAN26_NC306_AGATAG', 'LMAN.26.14A0209', '10343927_LMAD26_NC306_CGCCTG', 'LMAD.26.14A0209', '10343262_LMAN8_NC310_TTCGAG', 'LMAN.8.14A0201', '10343264_LMAN26_NC314_ACGTCT', 'LMAN.26.14A0167', '10343927_LMAD26_NC314_CACTAA', 'LMAD.26.14A0167', '10343927_LMAD26_NC318_TGACAC', 'LMAD.26.14A0327', '10344827_LMAN26_NC318_CGGTTA', 'LMAN.26.14A0327', '10343927_LMAD26_NC320_GTGCCA', 'LMAD.26.14A0363', '10344827_LMAN26_NC320_TGGCGA', 'LMAN.26.14A0363', '10343262_LMAN8_NC324_CGTCGC', 'LMAN.8.14A0227', '10344826_LMAD8_NC324_GAACCT', 'LMAD.8.14A0227', '10343264_LMAN26_NC326_ATACTG', 'LMAN.26.14A0211', '10343927_LMAD26_NC326_CATCTA', 'LMAD.26.14A0211', '10343262_LMAN8_NC328_TGACAC', 'LMAN.8.14A0231', '10344826_LMAD8_NC328_AGTTGA', 'LMAD.8.14A0231', '10343264_LMAD26_NC33_GGAGGT', 'LMAD.26.14A0479', '10344827_LMAN26_NC33_AGACCA', 'LMAN.26.14A0479', '10343264_LMAD26_NC336_AAGACA', 'LMAD.26.14A0465', '10344827_LMAN26_NC336_ACACGC', 'LMAN.26.14A0465', '10343264_LMAD26_NC338_ACCTAC', 'LMAD.26.14A0441', '10344827_LMAN26_NC338_GGCTGC', 'LMAN.26.14A0441', '10343927_LMAN8_NC340_CGGTTA', 'LMAN.8.14A0445', '10344826_LMAD8_NC340_GGCCAA', 'LMAD.8.14A0445', '10343264_LMAN26_NC342_AGTACT', 'LMAN.26.14A0223', '10343927_LMAD26_NC342_CGCAAC', 'LMAD.26.14A0223', '10343927_LMAD26_NC344_AATGAA', 'LMAD.26.14A0335', '10344827_LMAN26_NC344_AGAATC', 'LMAN.26.14A0335', '10343927_LMAD26_NC346_GATTGT', 'LMAD.26.14A0361', '10344827_LMAN26_NC346_GCGAAT', 'LMAN.26.14A0361', '10343927_LMAD26_NC348_TAGGCT', 'LMAD.26.14A0399', '10344827_LMAN26_NC348_CGCCTG', 'LMAN.26.14A0399', '10343927_LMAD26_NC350_GCTCGA', 'LMAD.26.14A0389', '10344827_LMAN26_NC350_GATCAC', 'LMAN.26.14A0389', '10343264_LMAD26_NC352_ACAACG', 'LMAD.26.14A0421', '10344827_LMAN26_NC352_GGCCAA', 'LMAN.26.14A0421', '10343927_LMAD26_NC354_ACACGC', 'LMAD.26.14A0353', '10344827_LMAN26_NC354_CAAGCA', 'LMAN.26.14A0353', '10343927_LMAD26_NC356_ACCAGT', 'LMAD.26.14A0337', '10344827_LMAN26_NC356_AACCGA', 'LMAN.26.14A0337', '10343262_LMAN8_NC358_AGTACT', 'LMAN.8.14A0295', '10344826_LMAD8_NC358_GCAGCC', 'LMAD.8.14A0295', '10343264_LMAN26_NC360_ATGGCG', 'LMAN.26.14A0269', '10343927_LMAD26_NC360_GGCCAA', 'LMAD.26.14A0269', '10343262_LMAN8_NC362_TATGTC', 'LMAN.8.14A0205', '10343262_LMAN8_NC364_GATCAC', 'LMAN.8.14A0161', '10343264_LMAD26_NC366_TAATCG', 'LMAD.26.14A0481', '10344827_LMAN26_NC366_GTAGAA', 'LMAN.26.14A0481', '10343262_LMAN8_NC368_GATTGT', 'LMAN.8.14A0261', '10344826_LMAD8_NC368_CAACAG', 'LMAD.8.14A0261', '10344823_LMAD8_ND246_CCGCAA', 'LMAD.8.14A0011', '10344826_LMAN8_ND246_CGTCGC', 'LMAN.8.14A0011', '10343927_LMAD26_Oh7B_GTAGAA', 'LMAD.26.14A0371', '10344827_LMAN26_Oh7B_GTTACC', 'LMAN.26.14A0371', '10343262_LMAN8_Oh40B_AAGTGG', 'LMAN.8.14A0189', '10343262_LMAN8_Oh43E_TGCACG', 'LMAN.8.14A0207', '10343262_LMAN8_Oh603_AGACCA', 'LMAN.8.14A0271', '10344826_LMAD8_Oh603_CACACT', 'LMAD.8.14A0271', '10343264_LMAN26_Os420_GTCAGG', 'LMAN.26.14A0087', '10343927_LMAD26_Os420_CAATGC', 'LMAD.26.14A0087', '10344823_LMAD8_P39_GTGCCA', 'LMAD.8.14A0057', '10344826_LMAN8_P39_ATAAGA', 'LMAN.8.14A0057', '10343262_LMAN8_Pa762_CAATGC', 'LMAN.8.14A0135', '10343262_LMAN8_Pa875_ACTCTT', 'LMAN.8.14A0277', '10344826_LMAD8_Pa875_GCGAAT', 'LMAD.8.14A0277', '10343927_LMAD26_Pa880_TCGTTC', 'LMAD.26.14A0329', '10344827_LMAN26_Pa880_GCGCTG', 'LMAN.26.14A0329', '10343927_LMAN8_Pa91_AGTTGA', 'LMAN.8.14A0377', '10344826_LMAD8_Pa91_CCAATT', 'LMAD.8.14A0377', '10344823_LMAD8_R168_ACTCTT', 'LMAD.8.14A0067', '10344826_LMAN8_R168_AGTACT', 'LMAN.8.14A0067', '10343262_LMAN8_R177_GTTACC', 'LMAN.8.14A0143', '10343262_LMAN8_R229_GTAGAA', 'LMAN.8.14A0275', '10344826_LMAD8_R229_TGGATT', 'LMAD.8.14A0275', '10343264_LMAN26_R4_GCTCGA', 'LMAN.26.14A0221', '10343927_LMAD26_R4_CAGGAC', 'LMAD.26.14A0221', '10343262_LMAN8_SA24_CCTGCT', 'LMAN.8.14A0237', '10344826_LMAD8_SA24_AACAAG', 'LMAD.8.14A0237', '10343264_LMAD26_SC213R_CGCAAC', 'LMAD.26.14A0499', '10344827_LMAN26_SC213R_AGTACT', 'LMAN.26.14A0499', '10343927_LMAD26_SC357_GACATC', 'LMAD.26.14A0407', '10344827_LMAN26_SC357_CGCAAC', 'LMAN.26.14A0407', '10343264_LMAD26_SC55_CGATCT', 'LMAD.26.14A0475', '10344827_LMAN26_SC55_ACCGTG', 'LMAN.26.14A0475', '10343262_LMAN8_SD40_CAGATG', 'LMAN.8.14A0141', '10344823_LMAD8_SD44_GTGTAG', 'LMAD.8.14A0051', '10344826_LMAN8_SD44_GTAGAA', 'LMAN.8.14A0051', '10343927_LMAD26_Sg1533_GGCTGC', 'LMAD.26.14A0317', '10344827_LMAN26_Sg1533_AACAAG', 'LMAN.26.14A0317', '10343262_LMAN8_SG18_GCATGG', 'LMAN.8.14A0321', '10344826_LMAD8_SG18_CGCCTG', 'LMAD.8.14A0321', '10343264_LMAN26_T232_ATTGGT', 'LMAN.26.14A0285', '10343927_LMAD26_T232_CCTAAG', 'LMAD.26.14A0285', '10343927_LMAD26_

In [16]:
# Rename the columns using the dictionary
kremling_expression_v5_day_renamed = kremling_expression_v5.rename(columns=kremling2merged_day_samples_dict)
kremling_expression_v5_day_renamed.columns = [str(x) for x in kremling_expression_v5_day_renamed.columns]

kremling_expression_v5_night_renamed = kremling_expression_v5.rename(columns=kremling2merged_night_samples_dict)
kremling_expression_v5_night_renamed.columns = [str(x) for x in kremling_expression_v5_night_renamed.columns]

In [17]:
kremling_expression_v5_day_renamed.columns

Index(['14A0253_26', '10343264_LMAN26_CI21E_ATGAAC',
       '10343927_LMAN8_B73_CACACT', '10343264_LMAN26_B64_ACCAGT',
       '10343262_LMAN8_B109_TGCTAT', '10343262_LMAN8_B14A_CTCTCG',
       '10343262_LMAN8_B57_CCTAAG', '14A0171_26', '10343262_LMAN8_B79_GCAGCC',
       '10343927_LMAN8_CI187-2_GACGAT',
       ...
       '10344826_LMAN8_I29_ACGTCT', '14A0049_8', '14A0453_26',
       '10344827_LMAN26_CML91_AATCCG', '10344827_LMAN26_Ki21_AAGACA',
       '14A0367_26', '14A0345_8', '10343927_LMAN8_E2558W_GAACCT', '14A0343_8',
       '10343927_LMAN8_IDS69_ACATTA'],
      dtype='object', length=486)

In [18]:
kremling_expression_v5_night_renamed.columns

Index(['10343927_LMAD26_CI21E_AAGTGG', '14A0253_26',
       '10343927_LMAN8_B73_CACACT', '14A0041_26', '10343262_LMAN8_B109_TGCTAT',
       '10343262_LMAN8_B14A_CTCTCG', '10343262_LMAN8_B57_CCTAAG',
       '10343927_LMAD26_B77_TAATCG', '10343262_LMAN8_B79_GCAGCC',
       '10343927_LMAN8_CI187-2_GACGAT',
       ...
       '14A0047_8', '10344823_LMAD8_IA2132_ACACGC',
       '10343264_LMAD26_CML91_AACGCC', '14A0453_26', '14A0367_26',
       '10343927_LMAD26_Ki21_ACGTCT', '10344826_LMAD8_E2558W_CGCAAC',
       '14A0345_8', '10344826_LMAD8_IDS69_CAGGAC', '14A0343_8'],
      dtype='object', length=486)

In [19]:
kremling_expression_v5_day_renamed = kremling_expression_v5_day_renamed.filter(items=otu_table_merged_d_n.columns)
otu_table_merged_day = otu_table_merged_d_n.filter(items=kremling_expression_v5_day_renamed.columns)

kremling_expression_v5_night_renamed = kremling_expression_v5_night_renamed.filter(items=otu_table_merged_d_n.columns)
otu_table_merged_night = otu_table_merged_d_n.filter(items=kremling_expression_v5_night_renamed.columns)

In [20]:
kremling_expression_v5_day_renamed.head()

,14A0247_8,14A0051_8,14A0533_26,14A0295_8,14A0169_26,14A0069_8,14A0497_26,14A0023_8,14A0547_26,14A0572_26,...,14A0345_8,14A0267_8,14A0009_8,14A0007_8,14A0093_26,14A0137_26,14A0265_8,14A0155_26,14A0167_26,14A0481_26
Name,,,,,,,,,,,,,,,,,,,,,
Zm00001eb371370_T002,0.543707,0.841123,0.893650,2.11575,0.0,0.540834,0.926934,5.14241,0.268413,1.26085,...,3.96967,1.31987,5.56033,2.34082,0.0,0.852852,7.31828,1.72605,1.74131,2.074270
Zm00001eb371350_T001,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.0,0.000000,0.00000,0.00000,0.00000,0.330825
Zm00001eb371330_T001,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.0,0.000000,0.00000,0.00000,0.00000,0.000000
Zm00001eb371310_T001,0.000000,0.000000,0.406263,0.00000,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.0,0.000000,0.00000,0.00000,0.00000,0.000000
Zm00001eb371280_T001,1.332830,23.711600,0.365113,2.99848,0.0,3.535440,1.136120,1.67540,4.167210,5.15137,...,6.19189,7.54952,6.98986,2.67784,0.0,1.393780,1.99084,0.00000,2.13431,12.542500

In [21]:
kremling_expression_v5_night_renamed.head()

,14A0247_8,14A0051_8,14A0533_26,14A0295_8,14A0169_26,14A0069_8,14A0497_26,14A0023_8,14A0547_26,14A0572_26,...,14A0345_8,14A0267_8,14A0009_8,14A0007_8,14A0093_26,14A0137_26,14A0265_8,14A0155_26,14A0167_26,14A0481_26
Name,,,,,,,,,,,,,,,,,,,,,
Zm00001eb371370_T002,0.0,0.853088,1.75355,0.000000,0.000000,0.00000,0.00000,0.328449,0.667213,0.609025,...,0.00000,0.00000,0.00000,0.000000,0.0,0.00000,0.393696,0.359664,0.0,1.03310
Zm00001eb371350_T001,0.0,0.000000,0.00000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.000000,0.0,0.00000,0.000000,0.000000,0.0,0.00000
Zm00001eb371330_T001,0.0,0.000000,0.00000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.000000,0.0,0.00000,0.000000,0.000000,0.0,0.00000
Zm00001eb371310_T001,0.0,0.000000,0.00000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.000000,0.0,0.00000,0.000000,0.000000,0.0,0.00000
Zm00001eb371280_T001,0.0,1.394160,0.00000,0.324968,0.215403,2.68579,2.72883,2.939840,1.090390,10.948300,...,3.80776,2.63163,1.56597,0.898391,0.0,1.38371,0.321696,2.351130,0.0,3.58775

In [22]:
otu_table_merged_day.head()

,14A0247_8,14A0051_8,14A0533_26,14A0295_8,14A0169_26,14A0069_8,14A0497_26,14A0023_8,14A0547_26,14A0572_26,...,14A0345_8,14A0267_8,14A0009_8,14A0007_8,14A0093_26,14A0137_26,14A0265_8,14A0155_26,14A0167_26,14A0481_26
OTU ID,,,,,,,,,,,,,,,,,,,,,
4479944,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995900,0.0,0.0,0.0,8.0,6.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1124709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533625,0.0,1.0,0.0,0.0,0.0,0.0,40.0,1.0,6.0,10.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,2.0

In [23]:
otu_table_merged_night.head()

,14A0247_8,14A0051_8,14A0533_26,14A0295_8,14A0169_26,14A0069_8,14A0497_26,14A0023_8,14A0547_26,14A0572_26,...,14A0345_8,14A0267_8,14A0009_8,14A0007_8,14A0093_26,14A0137_26,14A0265_8,14A0155_26,14A0167_26,14A0481_26
OTU ID,,,,,,,,,,,,,,,,,,,,,
4479944,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995900,0.0,0.0,0.0,8.0,6.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1124709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533625,0.0,1.0,0.0,0.0,0.0,0.0,40.0,1.0,6.0,10.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,2.0

In [24]:
if otu_table_merged_day.columns.all() == kremling_expression_v5_day_renamed.columns.all():
    print('Columns are equal!')
if otu_table_merged_night.columns.all() == kremling_expression_v5_night_renamed.columns.all():
    print('Columns are equal!')

Columns are equal!
Columns are equal!

In [25]:
def count_zeros(df, threshold=0.5):
    # Count the number of zeros in each row
    # If the number of zeros is greater than the threshold, remove the row
    threshold_int = int(df.shape[1] * threshold)
    print(f'Threshold: {threshold_int} (threshold * number of columns)')
    zero_counts = df.apply(lambda row: (row == 0).sum(), axis=1)
    return df[zero_counts < threshold_int]

In [29]:
otu_table_merged_night_zeros_filtered = count_zeros(otu_table_merged_night)
otu_table_merged_day_zeros_filtered = count_zeros(otu_table_merged_day)
kremling_expression_v5_day_renamed_zeros_filtered = count_zeros(kremling_expression_v5_day_renamed)
kremling_expression_v5_night_renamed_zeros_filtered = count_zeros(kremling_expression_v5_night_renamed)

Threshold: 86 (threshold * number of columns)
Threshold: 86 (threshold * number of columns)
Threshold: 86 (threshold * number of columns)
Threshold: 86 (threshold * number of columns)

In [31]:
print(otu_table_merged_day_zeros_filtered.shape)
print(otu_table_merged_night_zeros_filtered.shape)
print(kremling_expression_v5_day_renamed_zeros_filtered.shape)
print(kremling_expression_v5_night_renamed_zeros_filtered.shape)

(1117, 173)
(1135, 172)
(19692, 173)
(20049, 172)

In [32]:
import pandas as pd

total_counts_day = otu_table_merged_day_zeros_filtered.sum()  # Calculate the total count for each column
wallace2018_day_fractions = otu_table_merged_day_zeros_filtered.div(total_counts_day)  # Divide each value by the total count
wallace2018_day_fractions_100 = wallace2018_day_fractions.multiply(100)  # Multiply by 100 to get the percentage
total_counts_night = otu_table_merged_night_zeros_filtered.sum()  # Calculate the total count for each column
wallace2018_night_fractions = otu_table_merged_night_zeros_filtered.div(total_counts_night)  # Divide each value by the total count
wallace2018_night_fractions_100 = wallace2018_night_fractions.multiply(100)  # Multiply by 100 to get the percentage

In [33]:
concatenated_day_df = pd.concat([kremling_expression_v5_day_renamed_zeros_filtered,
                             wallace2018_day_fractions_100], axis=0)
concatenated_night_df = pd.concat([kremling_expression_v5_night_renamed_zeros_filtered,
                             wallace2018_night_fractions_100], axis=0)

concatenated_day_transposed = concatenated_day_df.T
concatenated_night_transposed = concatenated_night_df.T

In [36]:
from corals.threads import set_threads_for_external_libraries
set_threads_for_external_libraries(n_threads=1)
import numpy as np
from corals.correlation.full.default import cor_full

cor_d_values = cor_full(concatenated_day_transposed)
cor_d_values.shape

highly_correlated_pairs_df = pd.DataFrame(columns=['feature1', 'feature2', 'correlation'])
correlated_pairs_file = open('correlated_pairs_merged_otusfractions_day_transcripts.txt', 'w')

# Find the highly correlated pairs
for i in range(len(cor_d_values.columns)):
    for j in range(i+1, len(cor_d_values.columns)):
        if cor_d_values.columns[i] == cor_d_values.columns[j] or\
            (str(cor_d_values.columns[j]).startswith('Zm') and str(cor_d_values.columns[i]).startswith('Zm')):
            continue
        if ((abs(cor_d_values.iloc[i, j]) > 0.6) or\
           (abs(cor_d_values.iloc[i, j]) < -0.6)) and\
            (str(cor_d_values.columns[j]).startswith('Zm') or str(cor_d_values.columns[i]).startswith('Zm')):
            pair = (cor_d_values.columns[i], cor_d_values.columns[j])
            highly_correlated_pairs_df.loc[len(highly_correlated_pairs_df.index)] = [cor_d_values.columns[i],
                                                                                     cor_d_values.columns[j],
                                                                                     cor_d_values.iloc[i, j]]
            correlated_pairs_file.write(f'{cor_d_values.columns[i]}\t{cor_d_values.columns[j]}\t{cor_d_values.iloc[i, j]}\n')

correlated_pairs_file.close()

cor_n_values = cor_full(concatenated_night_transposed)
cor_n_values.shape

highly_correlated_pairs_df = pd.DataFrame(columns=['feature1', 'feature2', 'correlation'])
correlated_pairs_file = open('correlated_pairs_merged_otusfractions_night_transcripts.txt', 'w')

# Find the highly correlated pairs
for i in range(len(cor_n_values.columns)):
    for j in range(i+1, len(cor_n_values.columns)):
        if cor_n_values.columns[i] == cor_n_values.columns[j] or\
            (str(cor_n_values.columns[j]).startswith('Zm') and str(cor_n_values.columns[i]).startswith('Zm')):
            continue
        if ((abs(cor_n_values.iloc[i, j]) > 0.6) or\
           (abs(cor_n_values.iloc[i, j]) < -0.6)) and\
            (str(cor_n_values.columns[j]).startswith('Zm') or str(cor_n_values.columns[i]).startswith('Zm')):
            pair = (cor_n_values.columns[i], cor_n_values.columns[j])
            highly_correlated_pairs_df.loc[len(highly_correlated_pairs_df.index)] = [cor_n_values.columns[i],
                                                                                     cor_n_values.columns[j],
                                                                                     cor_n_values.iloc[i, j]]
            correlated_pairs_file.write(f'{cor_n_values.columns[i]}\t{cor_n_values.columns[j]}\t{cor_n_values.iloc[i, j]}\n')

correlated_pairs_file.close()

/home/rsantos/Repositories/maize_microbiome_transcriptomics/.venv/lib/python3.10/site-packages/corals/threads.py:48: UserWarning: This function should be called before `numpy` or similar modules are imported.
  warnings.warn("This function should be called before `numpy` or similar modules are imported.")